{% extends 'base.html' %}
{% load i18n registration_extra static %}

{% block title %}{% trans 'Modules by level' %}{% endblock title %}

{% block content %}

  {# Guest warning bubble #}

  {% include 'registered_user_warning.html' %}


  {# Heading jumbotron #}

  {% include 'management/module/modulelevel_listview_jumbotron.html' %}


  {# Statistical informations #}

  <section class="container">
    <div class="row text-muted">
      <div class="col-sm">
        {% blocktrans count nb_levels=levels.count %}
          There is actually only one module's level available.
        {% plural %}
          They are actually {{ nb_levels }} module's levels available.
        {% endblocktrans %}
      </div>
    </div>
  </section>


  {# Create new module button #}

  <div class="row">
    {% if request.user|is_manager_or_administrator %}
      <div class="col">
        <a href="{% url 'modulelevel_createview' %}" class="btn btn-block btn-warning">Create a new module level {% include 'logo/new.html' %}</a>
      </div>
    {% endif %}
    <div class="col">
      <a href="{% url 'module_listview' %}" class="btn btn-block btn-dark">Consult the modules catalog {% include 'logo/module.html' %}</a>
    </div>
  </div>

  <br>


  {# Level card #}

  {% for level in levels %}
    <div class="card">
      <div class="card-header">
        <div class="row row-cols-1 row-cols-md-3">
          <div class="col col-md-6 pb-2 pb-md-0">
            <span class="h2">{{ level.name }}</span> <small class="text-muted">{{ level.rank }}</small>
          </div>
          {% if request.user|is_manager_or_administrator %}
            <div class="col col-md-3 pb-2 pb-md-0">
              <a href="{% url 'modulelevel_updateview' pk=level.pk %}" class="btn btn-block btn-warning">
                {% trans 'Update' %} {% include 'logo/edit.html' %}
              </a>
            </div>
            <div class="col col-md-3 pb-2 pb-md-0">
              <a href="{% url 'modulelevel_deleteview' pk=level.pk %}" class="btn btn-block btn-danger">
                {% trans 'Delete' %} {% include 'logo/delete.html' %}
              </a>
            </div>
          {% endif %}
        </div>
        
      </div>

      <div class="card-body">
        {% for module in level.modules.all %}
          <div class="row row-cols-1 row-cols-md-2 text-center text-md-left">
            <div class="col-md-7">
              <a href="{{ module.get_absolute_url }}" class="text-reset">
                <span class="h5">{% include 'logo/module.html' %} {{ module.title }}</span> 
                <span class="small text-muted">{{ module.reference }}</span>
              </a>
            </div>
            <div class="col-md-5">
              {% if request.user|is_student %}
                {% if request.user|module_already_validated_by_user:module %}
                  <span class="text-success">{% include 'logo/check_valid.html' %} {% trans 'Module already validated' %}</span>
                {% elif request.user|all_prerequisites_validated_by_user:module %}
                  <span class="text-warning">{% include 'logo/check_ready.html' %} {% trans 'Prerequisites validated' %}</span>
                {% else %}
                  <span class="text-danger">{% include 'logo/check_invalid.html' %} {% trans 'Prerequisites missing' %}</span>
                {% endif %}
              {% else %}
                <span class="text-info">{% include 'logo/check_info.html' %} 
                  {% blocktrans count nb_prerequisites=module.prerequisites.all.count %}
                    This prerequisite has only one prerequisite itself.
                  {% plural %}
                    This prerequisite has {{ nb_prerequisites }} perequisites itself.
                  {% endblocktrans %}
                </span>
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </div>
    </div>

    <br>
  {% endfor %}

{% endblock content %}
