{% extends 'base.html' %}
{% load i18n registration_extra static %}


{% block title %}{{ module.title }} | {{ module.reference }}{% endblock title %}


{% block content %}
  {# Heading jumbotron #}

  {% include 'management/module/module_detailview_jumbotron.html' %}


  {# Back to ListView button #}

  {% include 'management/module/module_back_to_catalog_button.html' %}

  <br>


  {# Presentation card #}

  {% with module_actions_enabled=True show_description=False %}
    {% include 'management/module/module_card.html' %}
  {% endwith %}

  <br>


  {# Module's courses list #}

  {% include 'management/module/related_courses_list.html' %}

  <br>


  {# Back to ListView button #}

  {% include 'management/module/module_back_to_catalog_button.html' %}

{% endblock content %}
