{% extends 'base.html' %}
{% load i18n registration_extra static %}

{% block title %}{% trans 'Modules catalog' %}{% endblock title %}

{% block content %}
  {# Guest warning bubble #}

  {% include 'registered_user_warning.html' %}


  {# Heading jumbotron #}

  {% include 'management/module/module_listview_jumbotron.html' %}


  {# Information bubble #}


  {% if not request.user|is_back_office_user %}
    {% include 'bubbles/info/more_about_prerequisites.html' %}
  {% endif %}


  {# Statistical informations #}

  <section class="container">
    <div class="row text-muted">
      <div class="col-sm">
        {% blocktrans count nb_modules=modules.count %}
          There is actually only one module available.
        {% plural %}
          They are actually {{ nb_modules }} modules available.
        {% endblocktrans %}
      </div>
    </div>
  </section>


  {# Create new module button #}

  <div class="row">
    {% if request.user|is_manager_or_administrator %}
      <div class="col">
        <a href="{% url 'module_createview' %}" class="btn btn-block btn-warning">
          {% trans 'Create a new module' %} {% include 'logo/module.html' %} {% include 'logo/new.html' %}
        </a>
      </div>
    {% endif %}
    <div class="col">
      <a href="{% url 'modulelevel_listview' %}" class="btn btn-block btn-dark">
        {% trans 'Consult the modules by level' %} {% include 'logo/module_alt.html' %}
      </a>
    </div>
  </div>

  <br>


  {# Paginator #}

  {% include 'pagination_main.html' %}


  {# Modules cards #}

  <section class="container">
    <div class="row row-cols-1">
      {% for module in modules %}
      <div class="card my-3">
        <div class="card-header text-center pt-3">
          <div class="row">
            <div class="col d-none d-md-block">
              {% trans 'Number of eligible teacher' %}: {{ module.eligible_teachers.count }}
            </div>
            <div class="col h5">
              {% trans 'Regitration fee' %}: <strong>€ {{ module.price }}</strong>
            </div>
            <div class="col d-none d-md-block">
              {% trans 'Number of courses available' %}: {{ module.courses.count }}
            </div>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="{{ module.picture.url }}" class="img-fluid" alt="{{ module.title }} module picture" style="max-height: 200px;">
            </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title"><a href="{{ module.get_absolute_url }}" class="text-reset">{% include 'logo/module.html' %} {{ module.title }}</a></h5>
                  <p class="card-text"><small class="text-muted">{{ module.reference }} | <a href="{% url 'modulelevel_detailview' pk=module.level.pk %}" class="text-reset">{% include 'logo/module_alt.html' %} {{ module.level.name }}</a></small></p>
                  <p class="card-text">{{ module.description|linebreaks|truncatechars:256 }}</p>

                  {% with related_module=module %}
                    {% include 'management/module/module_status.html' %}
                  {% endwith %}
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-center">
            <div class="row row-cols-1 row-cols-md-2 my-2 my-md-0">
              <div class="col mb-2 mb-md-0">
                <a href="{{ module.get_absolute_url }}" class="btn btn-block btn-outline-dark">{% trans 'See more' %} {% include 'logo/more.html' %}</a>
              </div>
              {% if request.user|is_manager_or_administrator %}
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <a href="{% url 'module_updateview' pk=module.pk %}" class="btn btn-block btn-warning">{% trans 'Update' %} {% include 'logo/edit.html' %}</a>
                    </div>
                    <div class="col">
                      <a href="{% url 'module_deleteview' pk=module.pk %}" class="btn btn-block btn-danger">{% trans 'Delete' %} {% include 'logo/delete.html' %}</a>
                    </div>
                  </div>
                </div>

              {% elif request.user|is_teacher %}
                <div class="col">
                  <a href="#" class="btn btn-block btn-info">{% trans 'DEBUG: No functionality yet for Teachers' %} {% include 'logo/warning.html' %}</a>  <!-- TODO: add functionality -->
                </div>

              {% elif request.user|is_student %}
                <div class="col">
                  {% if request.user|active_module_rr_already_exists:module %}
                    <a href="{% url 'module_rr_createview' module_pk=module.pk %}" class="btn btn-block btn-warning disabled">{% trans 'You cannot subscribe to this module yet again' %} {% include 'logo/puzzle.html' %}</a>

                  {% else %}
                    <a href="{% url 'module_rr_createview' module_pk=module.pk %}" class="btn btn-block btn-success">{% trans 'Subscribe to this module' %} {% include 'logo/puzzle.html' %}</a>
                  {% endif %}
                </div>

              {% elif request.user|is_guest %}
                <div class="col">
                  <a href="{% url 'pursue_registration' %}" class="btn btn-block btn-dark">{% trans 'Finish your registration as a student' %} {% include 'logo/register_alt.html' %}</a>
                </div>

              {% else %}
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <a href="{% url 'register' %}" class="btn btn-block btn-dark">{% trans 'Sign up' %} {% include 'logo/register.html' %}</a>
                    </div>
                    <div class="col">
                      <a href="{% url 'login' %}" class="btn btn-block btn-outline-dark">{% trans 'Sign in' %} {% include 'logo/in-left.html' %}</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <br>


  {# Paginator #}

  {% include 'pagination_main.html' %}
{% endblock content %}
