{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Add a new module' %}{% endblock title %}

{% block content %}
  <section class="container">
    {% include 'backoffice_tag.html' %}
    <div class="container p-3 border border-warning">
      <h1 class="text-center">{% trans 'Add a new module to the catalog' %} {% include 'logo/module.html' %} {% include 'logo/new.html' %}</h1>

      {% if levels.count > 0 %}
        <form method="POST" enctype="multipart/form-data">
          {% csrf_token %}

          {# created_by (hidden) #}

          {{ form.created_by }}

          {# title #}

          <div class="form-group">
            <label for="{{ form.title.id_for_label }}" class="h5 text-uppercase">
              {{ form.title.label }} <span class="badge badge-danger">{{ form.title.errors.as_text }}</span>
            </label>
            <input id="{{ form.title.auto_id }}" name="{{ form.title.html_name }}" type="text" class="form-control form-control-lg" required>
            <small class="text-muted">{{ form.title.help_text }}</small>
          </div>

          <div class="row row-cols-1 row-cols-md-2">
            <div class="col-md-6">

              {# level #}

              <div class="form-group">
                <label for="{{ form.level.id_for_label }}" class="h5 text-uppercase">
                  {{ form.level.label }} <span class="badge badge-danger">{{ form.level.errors.as_text }}</span>
                </label>

                <select id="{{ form.level.auto_id }}" name="{{ form.level.html_name }}" class="form-control form-control-lg" required>
                  {% for level in levels %}
                  <option value="{{ level.pk }}">{{ level.name }}</option>
                  {% endfor %}
                </select>

                <small class="text-muted">{{ form.level.help_text }}</small>
              </div>

              {# ECTS_value #}

              <div class="form-group">
                <label for="{{ form.ECTS_value.id_for_label }}" class="h5 text-uppercase">
                  {{ form.ECTS_value.label }} <span class="badge badge-danger">{{ form.ECTS_value.errors.as_text }}</span>
                </label>
                <input id="{{ form.ECTS_value.auto_id }}" name="{{ form.ECTS_value.html_name }}" type="number" min="0" class="form-control form-control-lg" required>
                <small class="text-muted">{{ form.ECTS_value.help_text }}</small>
              </div>
            </div>

            <div class="col-md-6">

              {# cost #}

              <div class="form-group">
                <label for="{{ form.cost.id_for_label }}" class="h5 text-uppercase">
                  {{ form.cost.label }} <span class="badge badge-danger">{{ form.cost.errors.as_text }}</span>
                </label>
                <div class="input-group">
                  <input id="{{ form.cost.auto_id }}" name="{{ form.cost.html_name }}" type="number" min="0" step="0.01" class="form-control form-control-lg" required>
                  <div class="input-group-append">
                    <span class="input-group-text text-uppercase">EUR</span>
                  </div>
                </div>
                <small class="text-muted">{{ form.cost.help_text }}</small>
              </div>

              {# price #}

              <div class="form-group">
                <label for="{{ form.price.id_for_label }}" class="h5 text-uppercase">
                  {{ form.price.label }} <span class="badge badge-danger">{{ form.price.errors.as_text }}</span>
                </label>
                <div class="input-group">
                  <input id="{{ form.price.auto_id }}" name="{{ form.price.html_name }}" type="number" min="0" step="0.01" class="form-control form-control-lg" required>
                  <div class="input-group-append">
                    <span class="input-group-text text-uppercase">EUR</span>
                  </div>
                </div>
                <small class="text-muted">{{ form.price.help_text }}</small>
              </div>
            </div>
          </div>

          {# picture #}

          <div class="form-group">
            <label class="h5 text-uppercase" for="{{ form.picture.id_for_label }}">
              {{ form.picture.label }} <small class="text-danger">{{ form.picture.errors.as_text }}</small>
            </label>
            <div class="custom-file">
              <input id="{{ form.picture.auto_id }}" name="{{ form.picture.html_name }}" class="custom-file-input form-control form-control-lg" type="file">
              <label id="{{ form.picture.auto_id }}_label" class="custom-file-label h5 text-uppercase" for="{{ form.picture.id_for_label }}">
                No picture selected
              </label>
              <small class="badge badge-warning">{% trans 'Supported formats' %}: GIF, JPEG, PNG or WEBP</small> <small class="text-muted">{{ form.picture.help_text }}</small>
            </div>
          </div>

          {# description #}

          <div class="form-group">
            <label for="{{ form.description.id_for_label }}" class="h5 text-uppercase">
              {{ form.description.label }} <span class="badge badge-danger">{{ form.description.errors.as_text }}</span>
            </label>
            <textarea id="{{ form.description.auto_id }}" name="{{ form.description.html_name }}" class="form-control form-control-lg" required></textarea>
            <small class="text-muted">{{ form.description.help_text }}</small>
          </div>

          {% include 'bubbles/warning/add_prerequisites_and_eligible_teachers.html' %}

          {# submit #}

          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-2 mb-md-0">
              <input type="submit" class="btn btn-block btn-lg btn-warning text-uppercase" value="{% trans 'Create the new module' %}">
            </div>

            <div class="col">
              <a href="{% url 'module_listview' %}" class="btn btn-block btn-lg btn-outline-dark">
                {% trans 'Cancel and back to modules catalog' %} {% include 'logo/back.html' %}
              </a>
            </div>
          </div>
        </form>

      {% else %}
        <div class="rounded bg-warning p-2">
          {% include 'bubbles/warning/no_modulelevel.html' %}

          <div class="row row-cols-1 row-cols-md-2">
            <div class="col mb-2 mb-md-0">
              <a href="{% url 'modulelevel_createview' %}" class="btn btn-block btn-lg btn-dark btn-border">
                {% trans 'Create a new module level' %} {% include 'logo/module_alt.html' %} {% include 'logo/new.html' %}
              </a>
            </div>

            <div class="col">
              <a href="{% url 'module_listview' %}" class="btn btn-block btn-lg btn-outline-dark">
                {% trans 'Back to modules catalog' %} {% include 'logo/back.html' %}
              </a>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock content %}


{% block scripts %}
  <script>
    $('#{{ form.picture.auto_id }}').on('change',function(){
      var fileName = $(this).val();
      $(this).next('#{{ form.picture.auto_id }}_label').html(fileName);
    })
    </script>
{% endblock scripts %}
