{% extends 'base.html' %}
{% load i18n registration_extra static %}

{% block title %}{% trans 'Modules by level' %}{% endblock title %}

{% block content %}

  {# Guest warning bubble #}

  {% include 'registered_user_warning.html' %}


  {# Heading jumbotron #}

  {% include 'management/module/modulelevel_listview_jumbotron.html' %}


  {# Statistical informations #}

  <section class="container">
    <div class="row text-muted">
      <div class="col-sm">
        {% blocktrans count nb_levels=levels.count %}
          There is actually only one module's level available.
        {% plural %}
          They are actually {{ nb_levels }} module's levels available.
        {% endblocktrans %}
      </div>
    </div>
  </section>


  {# Create new module button #}

  <div class="row">
    {% if request.user|is_manager_or_administrator %}
      <div class="col">
        <a href="{% url 'modulelevel_createview' %}" class="btn btn-block btn-warning">Create a new module level {% include 'logo/new.html' %}</a>
      </div>
    {% endif %}
    <div class="col">
      <a href="{% url 'module_listview' %}" class="btn btn-block btn-dark">Consult the modules catalog {% include 'logo/module.html' %}</a>
    </div>
  </div>

  <br>


  {# Level card #}

  {% for level in levels %}
    {% with modulelevel_actions_enabled=True %}
      {% include 'management/module/modulelevel_card.html' %}
    {% endwith %}

    <br>

  {% endfor %}

{% endblock content %}
