{% extends 'base.html' %}
{% load i18n registration_extra static %}

{% block title %}{% trans 'Modules catalog' %}{% endblock title %}

{% block content %}
  {# Guest warning bubble #}

  {% include 'registered_user_warning.html' %}


  {# Heading jumbotron #}

  {% include 'management/module/module_listview_jumbotron.html' %}


  {# Information bubble #}


  {% if not request.user|is_back_office_user %}
    {% include 'bubbles/info/more_about_prerequisites.html' %}
  {% endif %}


  {# Statistical informations #}

  <section class="container">
    <div class="row text-muted">
      <div class="col-sm">
        {% blocktrans count nb_modules=modules.count %}
          There is actually only one module available.
        {% plural %}
          They are actually {{ nb_modules }} modules available.
        {% endblocktrans %}
      </div>
    </div>
  </section>


  {# Create new module button #}

  <div class="row">
    {% if request.user|is_manager_or_administrator %}
      <div class="col">
        <a href="{% url 'module_createview' %}" class="btn btn-block btn-warning">
          {% trans 'Create a new module' %} {% include 'logo/module.html' %} {% include 'logo/new.html' %}
        </a>
      </div>
    {% endif %}
    <div class="col">
      <a href="{% url 'modulelevel_listview' %}" class="btn btn-block btn-dark">
        {% trans 'Consult the modules by level' %} {% include 'logo/module_alt.html' %}
      </a>
    </div>
  </div>

  <br>


  {# Paginator #}

  {% include 'pagination_main.html' %}


  {# Modules cards #}

  <section class="container">
    <div class="row row-cols-1">
      {% for module in modules %}
        {% include 'management/module/module_listcard.html' %}
      {% endfor %}
    </div>
  </section>

  <br>


  {# Paginator #}

  {% include 'pagination_main.html' %}
{% endblock content %}
