{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'ModuleDetailView' %}  {{ module.reference }}{% endblock title %}

{% block content %}

<form method="post">
    {% csrf_token %}
    <p>Are you sure you want to delete "{{ module.title }}"?</p>
    <input type="submit" value="Confirm">
</form>

    <h1>ModuleDetailView</h1>
    <div>
        <h2>{{ module.title }}</h2>
        <h3>{{ module.reference }}</h3>
        <h4>{{ module.level.name }}</h4>
        <p>{{ module.description }}</p>
        <p>{{ module.module_benefits }}</p>
    </div>

    <h2>Prerequisites</h2>
    <ul>
        {% for module in module.prerequisites.all %}
            <li>{{ module.title }}</li>
        {% endfor %}
    </ul>

    <h2>Postrequisites</h2>
    <ul>
        {% for module in module.postrequisites.all %}
            <li>{{ module.title }}</li>
        {% endfor %}
    </ul>

    <h2>Eligible teachers</h2>
    <ul>
        {% for teacher in module.eligible_teachers.all %}
            <li>{{ teacher.get_full_name }}</li>
        {% endfor %}
    </ul>

    <h2>Degrees</h2>
    <ul>
        {% for degree in module.degrees.all %}
            <li>{{ degree.title }}</li>
        {% endfor %}
    </ul>

    <h2>Courses</h2>
    <ul>
        {% for course in module.courses.all %}
            <li>{{ course.reference }}</li>
        {% endfor %}
    </ul>

{% endblock content %}
