{% load i18n registration_extra %}


<div>
  {% if request.user|is_student %}
    {% if request.user|succeeded_module_rr_already_exists:related_module %}
      <span class="text-success">
        {% include 'logo/check_valid.html' %} {% trans 'Module completed' %}
      </span>
    {% elif related_module.prerequisites.all.count == 0%}
      <span class="text-info">
        {% include 'logo/check_info.html' %} {% trans 'No prerequisite needed' %}
      </span>
    {% elif request.user|all_prerequisites_validated_by_user:related_module %}
      <span class="text-warning">
        {% include 'logo/check_ready.html' %} {% trans 'Prerequisites completed, not module itself' %}
      </span>
    {% else %}
      <span class="text-danger">
        {% include 'logo/check_invalid.html' %} {% trans 'Prerequisites missing' %}
      </span>
    {% endif %}

    {% if request.user|active_module_rr_already_exists:module %}
      <br>

      <span class="text-info">
        {% include 'logo/check_info.html' %} {% trans 'You already registered to this module' %}
      </span>
    {% endif %}
  {% else %}
    <span class="text-info">
      {% include 'logo/check_info.html' %}
      {% blocktrans count nb_prerequisites=related_module.prerequisites.all.count %}
        This module has only one prerequisite
      {% plural %}
        This module has {{ nb_prerequisites }} prerequisites
      {% endblocktrans %}
    </span>
  {% endif %}
</div>