{% extends 'jumbotron_header.html' %}
{% load i18n static %}


{% block jumbotron_background %}
  {% static 'images/stairs_01.jpg' %}
{% endblock jumbotron_background %}


{% block jumbotron_title %}
  {% include 'logo/module_alt.html' %}
  {% trans 'Modules by level' %}
{% endblock jumbotron_title %}


{% block jumbotron_lead %}
  {% blocktrans %}
    Before you climb a mountain, it may be better to see how tall it is.
  {% endblocktrans %}
{% endblock jumbotron_lead %}


{% block jumbotron_image %}
  {% static 'draws/stepping_up.svg' %}
{% endblock jumbotron_image %}


{% block jumbotron_image_alt-text %}
  Modules catalog by level
{% endblock jumbotron_image_alt-text %}
