{% extends 'base.html' %}
{% load i18n registration_extra static %}


{% block title %}{{ module.title }} | {{ module.reference }}{% endblock title %}


{% block content %}
  {# Heading jumbotron #}

  {% include 'management/module/module_detailview_jumbotron.html' %}


  {# Back to ListView button #}

  {% include 'management/module/module_back_to_catalog_button.html' %}

  <br>


  {# Presentation card #}

  {% with module_actions_enabled=True show_description=False %}
    {% include 'management/module/module_card.html' %}
  {% endwith %}

  <br>


  {# Module's courses list #}

  {% include 'management/module/related_courses_list.html' %}

  <br>


  {# Back to ListView button #}

  {% include 'management/module/module_back_to_catalog_button.html' %}

  <br>


  {# Ratings #}

  {% include 'rating_tag.html' %}
  <section class="container p-1 p-md-3 rounded border border-dark text-light bg-dark">


    {# New rating button #}

    {% if request.user|is_student %}
      <div>
        {% if not request.user|succeeded_module_rr_already_exists:module %}
          <a href="{% url 'rating_createview' type='module' pk=module.pk %}" class="btn btn-block btn-outline-warning disabled">
            {% trans 'You didn\'t succeed this module yet. Therefore, you cannot rate it' %} {% include 'logo/check_invalid.html' %}
          </a>

        {% elif request.user == student_rating.created_by %}
          <a href="{% url 'rating_updateview' pk=student_rating.pk %}" class="btn btn-block btn-outline-light">
            {% trans 'Update the rating you left' %} {% include 'logo/edit.html' %}
          </a>

        {% else %}
          <a href="{% url 'rating_createview' type='module' pk=module.pk %}" class="btn btn-block btn-outline-light">
            {% trans 'Rate this module' %} {% include 'logo/rating.html' %}
          </a>
        {% endif %}
      </div>

      <br>
    {% endif %}


    {# Ratings list #}

    <div class="row row-cols-1
    {% if ratings.count > 1 %}
      row-cols-lg-2
    {% endif %}">
      {% for rating in ratings %}
        {% include 'rating/rating_card.html' %}

      {% empty %}
        <div class="h3 text-center text-light">
          {% include 'logo/check_info.html' %} {% trans 'No student\'s rating left yet for this module' %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
