{% load i18n registration_extra %}


<section class="container p-1 p-md-3 border bg-light">
  <div class="row rwo-cols-1 row-cols-lg-2">
    <div class="col-lg-6 text-center">
      <img src="{{ module.picture.url }}" alt="{{ module.title }}" class="img-fluid" style="max-width: 400px; max-height: 300px;"/>
    </div>
    <div class="col-lg-6 text-center">
      <h1>{% include 'logo/module.html' %}</h1>
      <h2>{{ module.title }}</h2>
      <div class="row">
        <div class="col">{{ module.reference }}</div>
        <div class="col">{{ module.level.name }}</div>
      </div>
      <hr>
      <div class="row h3">
        <div class="col">ECTS: <strong>{{ module.ECTS_value }}</strong></div>
        <div class="col">€ <strong>{{ module.price }}</strong></div>
      </div>
      <hr>

      {% if module.degrees.all.count > 0 %}
      <p>{% trans 'This module is part of the following degrees' %}:</p>
      <ul class="list-unstyled">
        {% for degree in module.degrees.all %}
          <li class="h5">
            <a href="{{ degree.get_absolute_url }}" class="text-reset">
              {% include 'logo/degree.html' %} {{ degree.title }} <small class="text-muted">{{ degree.category.name }}</small>
            </a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>{% trans 'This module does not belong to any degree.' %}</p>
      {% endif %}
      <hr>

      {% if module.eligible_teachers.all.count > 0 %}
      <p>{% trans 'Teachers of this module' %}:</p>
      <ul class="list-unstyled">
        {% for teacher in module.eligible_teachers.all %}
          <li class="h5">
            {{ teacher.get_full_name }} <a href="mailto:{{ teacher.email }}" class="badge badge-secondary">{% trans 'Contact by mail' %} {% include 'logo/mail.html' %}</a>
          </li>
        {% endfor %}
      </ul>
      {% else %}
        <p>{% trans 'There is actually no eligible teacher for this course.' %}</p>
      {% endif %}
    </div>
  </div>

  {% if module_actions_enabled %}
    <hr>

    {% include 'management/module/actions.html' %}
  {% endif %}

  {% if show_description %}
    <hr>

    <h3 class="text-center">Description</h3>
    <p class="text-justify">
      {{ module.description|linebreaks }}
    </p>
  {% endif %}

  <hr>

  <h3 class="text-center">{% include 'logo/module.html' %} Prerequisites</h3>

  {% with module_list_queryset=module.prerequisites.all %}
    {% include 'management/module/related_modules_list.html' %}
  {% endwith %}

  <hr>

  <h3 class="text-center">{% include 'logo/module.html' %} Postrequisites</h3>

  {% with module_list_queryset=module.postrequisites.all %}
    {% include 'management/module/related_modules_list.html' %}
  {% endwith %}

</section>
