{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Home' %}{% endblock title %}

{% block content %}
    <h1>Hola {{ user.username }}</h1>

    <ul>
        <li><a href="{% url 'register' %}">register</a></li>
        <li><a href="{% url 'login' %}">login</a></li>
        <li><a href="{% url 'logout' %}">logout</a></li>
        <li><a href="{% url 'password_change' %}">password_change</a></li>
        <li><a href="{% url 'password_reset' %}">password_reset</a></li>
        <li><a href="/admin">admin</a></li>

    </ul>
{% endblock content %}
