{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Home' %}{% endblock title %}

{% block content %}
    <h1>Hola {{ user.username }}</h1>

    <h2>Registration</h2>
    <ul>
        <li><a href="{% url 'register' %}">register</a></li>
        <li><a href="{% url 'login' %}">login</a></li>
        <li><a href="{% url 'logout' %}">logout</a></li>
        <li><a href="{% url 'password_change' %}">password_change</a></li>
        <li><a href="{% url 'password_reset' %}">password_reset</a></li>
        <li><a href="/admin">admin</a></li>
    </ul>

    <br>

    <h2>Management</h2>

    <h3>Modules</h3>
    <ul>
        <li><a href="{% url 'module_listview' %}">module_list_view</a></li>
        <li><a href="{% url 'module_createview' %}">module_createview</a></li>
    </ul>

    <h4>Modules levels</h4>
    <ul>
        <li><a href="{% url 'modulelevel_listview' %}">modulelevel_listview</a></li>
        <li><a href="{% url 'modulelevel_createview' %}">modulelevel_createview</a></li>
    </ul>

    <h3>Degrees</h3>
    <ul>
        <li><a href="{% url 'degree_listview' %}">degree_listview</a></li>
        <li><a href="{% url 'degree_createview' %}">degree_createview</a></li>
    </ul>

    <h4>Degree Categories</h4>
    <ul>
        <li><a href="{% url 'degreecategory_listview' %}">degreecategory_list_view</a></li>
        <li><a href="{% url 'degreecategory_createview' %}">degreecategory_createview</a></li>
    </ul>

    <h3>Courses</h3>
    <ul>
        <li><a href="{% url 'course_listview' %}">course_list_view</a></li>
    </ul>

    <h3>Classrooms</h3>
    <ul>
        <li><a href="{% url 'classroom_listview' %}">classroom_list_view</a></li>
    </ul>
{% endblock content %}
