{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Password change' %}{% endblock title %}

{% block content %}
    <form action="{% url 'password_change' %}" method="post">
        {% csrf_token %}
        {{ form.as_p }}

        Your password can’t be too similar to your other personal information.
        Your password must contain at least 8 characters.
        Your password can’t be a commonly used password.
        Your password can’t be entirely numeric.

        <input type="submit" value="{% trans 'Change password' %}">
    </form>
{% endblock content %}
