{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Register' %}{% endblock title %}

{% block content %}
    <form action="{% url 'register' %}" method="post">
        {% csrf_token %}
        <div>
            <label for="id_first_name">{{ form.first_name.label }}: </label>
            {{ form.first_name }}
        </div>
        <div>
            <label for="id_last_name">{{ form.last_name.label }}: </label>
            {{ form.last_name }}
        </div>
        </div>
            <label for="id_email">{{ form.email.label }}: </label>
            {{ form.email }}
        </div>
        <div>
            <label for="id_password">{{ form.password.label }}: </label>
            {{ form.password }}
            <p>
                Your password can’t be too similar to your other personal information.
                Your password must contain at least 8 characters.
                Your password can’t be a commonly used password.
                Your password can’t be entirely numeric.
            </p>
        </div>
        <div>
            <label for="id_confirm_password">{{ form.confirm_password.label }}: </label>
            {{ form.confirm_password }}
        </div>
        <div>
            <label for="id_birthday">{{ form.birthday.label }}: </label>
            {{ form.birthday }}
        </div>
        <div>
            <label for="id_nationality">{{ form.nationality.label }}: </label>
            {{ form.nationality }}
        </div>
        <div>
            <label for="id_address">{{ form.address.label }}: </label>
            {{ form.address }}
        </div>
        <div>
            <label for="id_postalCode">{{ form.postalCode.label }}: </label>
            {{ form.postalCode }}
        </div>
        <div>
            <label for="id_postalLocality">{{ form.postalLocality.label }}: </label>
            {{ form.postalLocality }}
        </div>
        <input type="submit" value="{% trans 'Sign up' %}">
    </form>
{% endblock content %}
