{% extends 'base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans 'Welcome' %}{% endblock title %}

{% block content %}


{# Presentation #}

<section class="jumbotron text-center">
    <div class="container">
        <h1>{% trans 'Welcome on the SERINA-Project page' %}</h1>
        <br>
        <div class="row">
            <div class="col-md-4">
                <img src="{% static 'images/undraw_road_to_knowledge_m8s0.svg' %}" class="w-250 p-3 img-fluid rounded" alt="">
            </div>
            <div class="col-md-8">
                <p class="lead text-muted">
                    {% blocktrans %}
                        The SERINA-Project is an app that can make your school registration easy. Look at the degree that seems interesting for you, register as a guest or use your own account if you already have one, register to the degree and once your registration got confirmed, pay directly. You can also register to isolated modules if you don't want to follow a whole degree.
                    {% endblocktrans %}
                </p>
            </div>
        </div>

        <p>
            <a href="{% url 'degree_listview' %}" class="btn btn-lg btn-outline-secondary my-2">{% trans 'See the available degrees' %}
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z"/>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                </svg>

            </a>
            <a href="{% url 'module_listview' %}" class="btn btn-lg btn-outline-secondary my-2">{% trans 'See the available modules' %}
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-book" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M3.214 1.072C4.813.752 6.916.71 8.354 2.146A.5.5 0 0 1 8.5 2.5v11a.5.5 0 0 1-.854.354c-.843-.844-2.115-1.059-3.47-.92-1.344.14-2.66.617-3.452 1.013A.5.5 0 0 1 0 13.5v-11a.5.5 0 0 1 .276-.447L.5 2.5l-.224-.447.002-.001.004-.002.013-.006a5.017 5.017 0 0 1 .22-.103 12.958 12.958 0 0 1 2.7-.869zM1 2.82v9.908c.846-.343 1.944-.672 3.074-.788 1.143-.118 2.387-.023 3.426.56V2.718c-1.063-.929-2.631-.956-4.09-.664A11.958 11.958 0 0 0 1 2.82z"/>
                    <path fill-rule="evenodd" d="M12.786 1.072C11.188.752 9.084.71 7.646 2.146A.5.5 0 0 0 7.5 2.5v11a.5.5 0 0 0 .854.354c.843-.844 2.115-1.059 3.47-.92 1.344.14 2.66.617 3.452 1.013A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.276-.447L15.5 2.5l.224-.447-.002-.001-.004-.002-.013-.006-.047-.023a12.582 12.582 0 0 0-.799-.34 12.96 12.96 0 0 0-2.073-.609zM15 2.82v9.908c-.846-.343-1.944-.672-3.074-.788-1.143-.118-2.387-.023-3.426.56V2.718c1.063-.929 2.631-.956 4.09-.664A11.956 11.956 0 0 1 15 2.82z"/>
                </svg>
            </a>
        </p>
    </div>
</section>


{# 3 random degrees #}

<div class="bg-dark p-3">

        <a href="{% url 'degree_listview' %}" class="btn btn-light btn-block">
            <h4>{% trans 'Come check our degrees' %}
                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z"/>
                    <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                </svg>
            </h4>
        </a>

    <br>
    <div class="row">

    {% for degree in degrees %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">

                <img src="{{ degree.picture.url }}" class="img-thumbnail rounded" alt="">

                <div class="card-body">

                    <h5 class="text-right">{{ degree.title }}</h5>
                    <small class="text-muted">
                        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-award" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                            <path fill-rule="evenodd" d="M9.669.864L8 0 6.331.864l-1.858.282-.842 1.68-1.337 1.32L2.6 6l-.306 1.854 1.337 1.32.842 1.68 1.858.282L8 12l1.669-.864 1.858-.282.842-1.68 1.337-1.32L13.4 6l.306-1.854-1.337-1.32-.842-1.68L9.669.864zm1.196 1.193l-1.51-.229L8 1.126l-1.355.702-1.51.229-.684 1.365-1.086 1.072L3.614 6l-.25 1.506 1.087 1.072.684 1.365 1.51.229L8 10.874l1.356-.702 1.509-.229.684-1.365 1.086-1.072L12.387 6l.248-1.506-1.086-1.072-.684-1.365z"/>
                            <path d="M4 11.794V16l4-1 4 1v-4.206l-2.018.306L8 13.126 6.018 12.1 4 11.794z"/>
                        </svg>
                        {{ degree.category.name }}
                    </small>
                    <p class="card-text">{{ degree.description|linebreaks|truncatechars:100 }}</p>

                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                          <a href="{{ degree.get_absolute_url }}" class="btn btn-sm btn-outline-secondary">{% trans 'See more...' %}</a>
                        </div>

                        <small class="text-muted">{{ degree.modules.count }} {% trans 'modules' %}</small>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
</div>

      <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
        <div class="col-md-5 p-lg-5 mx-auto my-5">
          <h1 class="display-4 font-weight-normal">Punny headline</h1>
          <p class="lead font-weight-normal">And an even wittier subheading to boot. Jumpstart your marketing efforts with this example based on Apple’s marketing pages.</p>
          <a class="btn btn-outline-secondary" href="#">Coming soon</a>
        </div>
        <div class="product-device shadow-sm d-none d-md-block"></div>
        <div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
      </div>
    
    
      <div class="album py-5 bg-light">
        <div class="container">
    

        </div>
      </div>
{% endblock content %}
