# Imported environnement variables
*.env

# Python3.8 cache files and directories
*.pyc
__pycache__/

# Uploaded Media files
serina-project/media/*
!serina-project/media/management/undraw_Books_l33t.png

# Do not ignore any .gitkeep file
!*.gitkeep

# Debug ngrok tunnel
ngrok
