{% extends 'base.html' %}
{% load i18n static %}

{% block title %}
  {% trans 'Checkout' %} {{ degree_rr.invoice_id }}
{% endblock title %}


{% block content %}
  <section class="container p-2">
    <div class="container border rounded text-center bg-light py-3" style="max-width: 600px;">
      <img src="{% static 'draws/pay_online.svg' %}" alt="Checkout" class="img-fluid">
      <div class="h1">
        {% trans 'Checkout' %}
        {% include 'logo/checkout.html' %}
      </div>

      <hr>


      {# student full_name #}

      <div>
        <div class="h5 text-muted text-uppercase">
          {% trans 'Student full name' %}
        </div>
        <div class="h3 p-2 border rounded text-dark bg-light">
          {{ degree_rr.student_rr.created_by.get_full_name }}
        </div>
      </div>


      {# student registration number #}

      <div>
        <div class="h5 text-muted text-uppercase">
          {% trans 'Student registration number' %}
        </div>
        <div class="h3 p-2 border rounded text-dark bg-light">
          {{ degree_rr.student_rr.created_by.username }}
        </div>
      </div>


      {# student address #}

      <div>
        <div class="h5 text-muted text-uppercase">
          {% trans 'Student address' %}
        </div>
        <div class="h3 p-2 border rounded text-dark bg-light">
          {{ degree_rr.student_rr.address }}
          <br>
          {% if degree_rr.student_rr.additional_address %}
            {{ degree_rr.student_rr.additional_address }}
            <br>
          {% endif %}
          {{ degree_rr.student_rr.postal_code }} {{ degree_rr.student_rr.postal_locality }}
        </div>
      </div>


      {# data validity bubble #}

      {% include 'bubbles/warning/verify_profile_data.html' %}

      <hr>


      {# registration_number #}

      <div>
        <div class="h5 text-muted text-uppercase">
          {% trans 'Invoice ID' %}
        </div>
        <div class="h3 p-2 border rounded text-dark bg-light">
          #{{ degree_rr.student_rr.created_by.username }}D{{ degree_rr.pk }}
        </div>
      </div>


      {# date #}

      <div>
        <div class="h5 text-muted text-uppercase">
          {% trans 'Checkout date and time' %}
        </div>
        <div class="h3 p-2 border rounded text-dark bg-light">
          {% now "j F Y H:i" %}
        </div>
      </div>


      {# degreecategory #}

      <div>
        <div class="h5 text-muted text-uppercase">
          {% trans 'Category' %}
        </div>
        <div class="h3 p-2 border rounded text-dark bg-light">
          {% include 'logo/degree_alt.html' %} {{ degree_rr.degree.category.name }}
        </div>
      </div>


      {# degree #}

      <div>
        <div class="h5 text-muted text-uppercase">
          {% trans 'Degree' %}
        </div>
        <div class="h3 p-2 border rounded text-dark bg-light">
          {% include 'logo/degree.html' %} {{ degree_rr.degree.title }}
        </div>
      </div>


      {# vat_excluded_price #}

      <div>
        <div class="h5 text-muted text-uppercase">
          {% trans 'Price (V.A.T. excluded)' %}
        </div>
        <div class="h3 p-2 border rounded text-dark bg-light">
          € {{ vat_excluded_price }}
        </div>
      </div>


      {# vat_included_price #}

      <div>
        <div class="h5 text-muted text-uppercase">
          {% trans 'Price (V.A.T. included)' %}
        </div>
        <div class="h3 p-2 border rounded text-dark bg-light">
          € {{ degree_rr.to_be_payed_fees }}
        </div>
      </div>


      {# paypal info bubble #}

      <div class="bg-info text-light rounded">
        {% include 'bubbles/info/paypal_only.html' %}


        {# paypal logo #}

        <div class="mx-5 my-3 p-5 rounded bg-light">
          <img src="{% static 'logo/paypal_logo.png' %}" alt="Checkout" class="img-fluid">
        </div>


        {# paypal form #}

        {{ form.render }}

        <br>


        {# cancel button #}

        <a href="{{ degree_rr.get_absolute_url }}" class="btn btn-outline-light">
          {% trans 'Cancel and go back to degree report page' %} {% include 'logo/back.html' %}
        </a>

        <br><br>

      </div>
    </div>
  </section>
{% endblock content %}
