<!DOCTYPE html>
<html lang="en">
  {% load i18n static %}

  <head>
    <meta charset="UTF-8">
    <meta name="author" content="Bryan M. Ramsamy">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>
      {% block title %}TITLE MISSING !{% endblock title %} | SERINA-Project
    </title>


    {# Bootstrap CSS #}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">


    {# Favicons # FIXME: Not displayed #}

    <link rel="icon" type="image/png" href="{% static 'favicon.ico' %}"/>


    {% block styles %}{% endblock styles %}

  </head>

  <body>
    <header>
      {% include 'nav.html' %}
    </header>

    <main role="main">
      <div class="container">
        <br>

        {% block content %}
          <h1>CONTENT MISSING !</h1>
        {% endblock content %}

        <br>
      </div>
    </main>

    <div class="bg-light">
      <footer class="container py-5">
        {% include 'footer.html' %}
      </footer>
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

    <script>
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })

      $(function () {
        $('[data-toggle="gdpr-popover"]').popover({
          delay: {show: 0, hide: 750},
          trigger: "hover",
          html: true,
          title: '<div class="bg-light text-center h4"><img src="/static/logo/gdpr.png" class="img-fluid" alt="GDPR logo" max-height="100px"> {% trans 'GDPR disclaimer' %}</div><div class="small text-justify text-muted">{% trans 'To know more about your rights, consult our ' %}<a href="{% url 'terms_and_conditions' %}">{% trans 'Terms and conditions' %}</a>{% trans ', our ' %}<a href="{% url 'privacy_policy' %}"> {% trans 'Privacy Policy' %}</a>{% trans ' and our ' %}<a href="{% url 'cookies_policy' %}">{% trans 'Cookies Policy' %}</a>.</div>',
        });
      })
    </script>

    {% block scripts %}{% endblock scripts %}

  </body>
</html>
