{% load i18n %}
{% load static %}

<div class="row">
  <div class="col-md-3 text-center">
    <a href="{% url 'home' %}">
      <img src="{% static 'logo/serina.png' %}"  class="p-3 img-fluid" alt="" max-height=200px>
    </a>
    <p class="text-right text-muted">It is never to late to learn.</p>
  </div>

  <div class="col-md-9">
    <h3>SERINA-Project</h3>
    <small class="d-block mb-3 text-muted">
      Bryan M. Ramsamy © 2019-2020 | Institut des Carrières Commerciales
      <br>
      Épreuve intégrée de la section : Bachelier en informatique de gestion
    </small>

    <div class="row">
      <div class="col-6">
        <span class="h4">{% trans 'See more' %}</span>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="{% url 'home' %}">{% trans 'Home' %}</a></li>
          <li><a class="text-muted" href="{% url 'who_are_we' %}">{% trans 'Who are we ?' %}</a></li>
          <li><a class="text-muted" href="{% url 'contact' %}">{% trans 'Contact us' %}</a></li>
          <li><a class="text-muted" href="{% url 'terms_and_conditions' %}">{% trans 'Terms and conditions' %}</a></li>
          <li><a class="text-muted" href="{% url 'privacy_policy' %}">{% trans 'Privacy policy' %}</a></li>
          <li><a class="text-muted" href="{% url 'cookies_policy' %}">{% trans 'Cookies policy' %}</a></li>
        </ul>
      </div>

      <div class="col-6">
        <span class="h4">{% trans 'About the project' %}</span>
        <ul class="list-unstyled text-small">
          <li><a class="text-muted" href="#">{% trans 'Project report: Volume 1' %}</a></li>           
          <li><a class="text-muted" href="#">{% trans 'Project report: Volume 2' %}</a></li>
          <li><a class="text-muted" href="https://gitlab.com/bryanmramsamy/ICC-EpreuveIntegree_2019-2020/">{% trans 'GitLab.com project repository' %}</a></li>
          <li><a class="text-warning" href="{% url 'home_old' %}">home_old</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div>
  {% include 'i18n.html' %}
</div>
