{% load i18n %}

<div class="row">
    <div class="col-12 col-md">
        <h5>SERINA-Project</h5>
        <small class="d-block mb-3 text-muted">
            Bryan M. Ramsamy © 2019-2020
            <br>
            Institut des Carrières Commerciales
            <br>
            Épreuve intégrée de la section : Bachelier en informatique de gestion
        </small>

        <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">{% trans 'Who are we ?' %}</a></li>
            <li><a class="text-muted" href="#">{% trans 'Contact us' %}</a></li>
            <li><a class="text-muted" href="#">{% trans 'General conditions' %}</a></li>
            <li><a class="text-muted" href="#">{% trans 'Privacy policy' %}</a></li>
            <li><a class="text-muted" href="#">{% trans 'Project report (Volume 1): Requirements, preDev-analysis and usage manual (FR)' %}</a></li>           
            <li><a class="text-muted" href="#">{% trans 'Project report (Volume 2): Developpment and deployment technologies and methodologies (FR)' %}</a></li>
            <li><a class="text-muted" href="https://gitlab.com/bryanmramsamy/ICC-EpreuveIntegree_2019-2020/">{% trans 'GitLab.com project repository' %}</a></li>
        </ul>
    </div>
</div>