{# Forms errors #}

{% if form.errors %}
  {% comment %}
    {% for field in form %}
      {% for error in field.errors %}
      DEBUG:
        <div class="alert alert-danger" role="alert">
          {{ error }} -> {{ field.name }}
        </div>
      {% endfor %}
    {% endfor %}
  {% endcomment %}

  {% for error in form.non_field_errors %}
    <div class="alert alert-danger" role="alert">
      <div class="container text-center">
        {{ error }}
      </div>
    </div>
  {% endfor %}
{% endif %}
