{% load i18n static %}

{% get_current_language as LANGUAGE_CODE %}

<form action="{% url 'set_language' %}" method="POST">
  {% csrf_token %}
  <input type="hidden" name="next" value="{{ redirect_to }}">

  <div class="input-group input-group-sm">

    <select name="language" id="language_selection" class="custom-select form-control">
      {% get_available_languages as LANGUAGES %}
      {% get_language_info_list for LANGUAGES as languages %}

      {% for language in languages %}
        <option value="{{ language.code }}" {% if language.code == LANGUAGE_CODE %} selected {% endif %}>{{ language.name_local }} ({{ language.code }})</option>
      {% endfor %}
    </select>

    <div class="input-group-append" data-toggle="gdpr-popover" data-placement="left" data-content='
      {% blocktrans %}
        <strong>How is this personal data used ?</strong>
      {% endblocktrans %}
      <br>
      <p class="text-justify small">
        {% blocktrans %}
          Your language preference is stored in a cookie in order to load the correct language when you navigate through the application.
          <br>
          If you delete the cookie, an new one will be created with English as the default value.
        {% endblocktrans %}
      </p>'>

      <input class="btn btn-secondary" type="submit" value="{% trans 'Change the language' %}">
    </div>
  </div>
</form>
