{% load i18n %}

<nav class="navbar navbar-expand-md navbar-dark sticky-top bg-dark">
  <div class="container">
    <a class="navbar-brand" href="{% url 'home' %}">SERINA-Project</a>

    <!-- Navbar toggler -->
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="{% url 'degree_listview' %}">{% trans 'Degrees' %}</a></li>
        <li class="nav-item"><a class="nav-link" href="{% url 'module_listview' %}">{% trans 'Modules' %}</a></li>
      </ul>

      {% if user.is_authenticated %}

          {% if user.is_staff %}
            <a href="{% url 'admin:index' %}" class="btn btn-outline-warning mr-2">
              {% trans 'Admin' %}
              {% include 'logo/gear.html' %}
            </a>
          {% endif %}

        <a href="{% url 'userprofile_detailview' pk=user.pk %}" class="btn btn-light mr-2">
          {% trans 'Profile' %}
          {% include 'logo/profile.html' %}
        </a>

        <a href="{% url 'logout' %}" class="btn btn-outline-light">
          {% trans 'Sign out' %}
          {% include 'logo/out-right.html' %}
        </a>

      {% else %}
        <a href="{% url 'register' %}" class="btn btn-light mr-2">
          {% trans 'Sign Up' %}
          {% include 'logo/register.html' %}
        </a>

        <a href="{% url 'login' %}" class="btn btn-outline-light">
          {% trans 'Sign In' %}
          {% include 'logo/in-left.html' %}
      </a>
      {% endif %}
    </div>
  </div>
</nav>

<div class="sticky-bottom" id="messages">
  {% include 'messages.html' %}
  {% include 'forms_errors.html' %}
  {% block additional_messages %}{% endblock additional_messages %}
</div>
