{% extends 'bubbles/warning.html' %}
{% load i18n %}


{% block bubble_title %}
  {% blocktrans %}
    Check your data twice ! Once your data submitted, some of them won't be updatable anymore !
  {% endblocktrans %}
{% endblock bubble_title %}


{% block bubble_content %}
  {% trans 'Most of these data will not be updatable anymore once submitted. This especially concern the files uploaded. Please check twice before submitting them.' %}
  <br><br>
  {% trans 'If you should edit some non-updatable data afterwards, please contact our' %} <a href="mailto:{{ support_team_mail }}" class="badge badge-light">{% trans 'Support Team' %} {% include 'logo/mail.html' %}</a>.
{% endblock bubble_content %}
