{% extends 'bubbles/warning_main.html' %}
{% load i18n registration_extra %}


{% block bubble_title %}
  {% blocktrans %}
    Your registration is not completed yet
  {% endblocktrans %}
{% endblock bubble_title %}


{% block bubble_content %}
  {% blocktrans %}
    Your are currently a registered guest. To proceed to this action, you must be registered as a student.
    {% endblocktrans %}
    <br>
    {% blocktrans %}
    To become a student, all you have to do is to complete your registration by clicking on the button bellow and following the instructions. Once your registration complete as student, come back to this page.
  {% endblocktrans %}
{% endblock bubble_content %}
