{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Login' %}{% endblock title %}

{% block content %}


  {# Formset #}

  <section class="container my-5 p-2">
    <div class="container border rounded text-center bg-light pt-2" style="max-width: 600px;">
      <img src="{% static 'draws/login.svg' %}" alt="Sign in" class="img-fluid">
      <span class="h1">
        {% trans 'Sign in' %} {% include 'logo/in-left.html' %}
      </span>
      <hr>
      <div class="form-group">
        <form action="{% url 'login' %}" method="post">
          {% csrf_token %}
          
          <label for="{{ form.username.id_for_label }}" class="h5 text-uppercase">{{ form.username.label }}</label>
          <input id="{{ form.username.auto_id }}" name="{{ form.username.html_name }}" type="text" class="form-control form-control-lg" required>

          <br>

          <label for="{{ form.password.id_for_label }}" class="h5 text-uppercase">{{ form.password.label }}</label>
          <input id="{{ form.password.auto_id }}" name="{{ form.password.html_name }}" type="password" class="form-control form-control-lg" required>

          {% if form.username.errors %}
            <div class="text-right text-danger">{% include 'logo/check_invalid.html' %}Registration number or password incorrect</div>
          {% endif %}

          <br>

          <input type="submit" value="{% trans 'Sign in' %}" class="btn btn-block btn-lg btn-dark h5 text-uppercase">
        </form>
      </div>

      <hr>

      <br>

      {% trans 'Registration number or password forgotten ?' %}
      <a href="{% url 'password_reset' %}" class="btn btn-block btn-outline-dark text-uppercase">
        {% trans 'Reset your password' %} {% include 'logo/lock.html' %}
      </a>

      <br>

      {% trans 'Not registered yet ?' %}
      <a href="{% url 'register' %}" class="btn btn-block btn-outline-dark text-uppercase">
        {% trans 'Sign up' %} {% include 'logo/register.html' %}
      </a>

      <br>

    </div>
  </section>


{% endblock content %}
