{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Password reset mail sent' %}{% endblock title %}

{% block content %}
  <section class="container">
    <div class="container border rounded text-center bg-light p-3" style="max-width: 600px;">
      <img src="{% static 'draws/mail_sent.svg' %}" alt="Registration number or password forgotten ?" class="img-fluid">
      <h1>{% trans 'The mail has been sent' %} {% include 'logo/mail.html' %}</h1>

      <hr>

      {% blocktrans %}
        <p>
          You will shortly receive a mail containing your registration number and link to reset your password.
          <br><br>
          If you don't need to reset your password, you can discard the mail.
          <br>
          For security measures, we recommand you to delete the mail once your account access recovered.
          <br><br>
          If you didn't received any mail, retry again or contact our support team (<a href="{{ support_team_mail }}">{{ support_team_mail }}</a>).
        </p>
      {% endblocktrans %}
    </div>
  </section>
{% endblock content %}
