{% extends 'base.html' %}
{% load i18n static %}

{% block title %}{% trans 'Register' %}{% endblock title %}

{% block content %}


  {# Formset #}

  <section class="container my-5 p-2">

    <div class="container border rounded text-center bg-light pt-2" style="max-width: 600px;">
      <img src="{% static 'draws/sign_in.svg' %}" alt="Sign up" class="img-fluid">
      <span class="h1">
        {% trans 'Sign up' %} {% include 'logo/register.html' %}
      </span>
      <hr>

      <div class="form-group">
        <form action="{% url 'register' %}" method="post">
          {% csrf_token %}
          
          <label for="{{ form.first_name.id_for_label }}" class="h5 text-uppercase">{{ form.first_name.label }}</label>
          <input id="{{ form.first_name.auto_id }}" name="{{ form.first_name.html_name }}" type="text" class="form-control form-control-lg" required>

          <br>

          <label for="{{ form.last_name.id_for_label }}" class="h5 text-uppercase">{{ form.last_name.label }}</label>
          <input id="{{ form.last_name.auto_id }}" name="{{ form.last_name.html_name }}" type="text" class="form-control form-control-lg" required>

          <br>

          <label for="{{ form.email.id_for_label }}" class="h5 text-uppercase">{{ form.email.label }}</label>
          <input id="{{ form.email.auto_id }}" name="{{ form.email.html_name }}" type="email" class="form-control form-control-lg" required>

          <br>

          <label for="{{ form.password.id_for_label }}" class="h5 text-uppercase">{{ form.password.label }}</label>
          <input id="{{ form.password.auto_id }}" name="{{ form.password.html_name }}" type="password" class="form-control form-control-lg" required>

          <br>

          <label for="{{ form.confirm_password.id_for_label }}" class="h5 text-uppercase">{{ form.confirm_password.label }}</label>
          <input id="{{ form.confirm_password.auto_id }}" name="{{ form.confirm_password.html_name }}" type="password" class="form-control form-control-lg" required>

          {% if form.username.errors %}
            <div class="text-right text-danger">{% include 'logo/check_invalid.html' %}Registration number or password incorrect</div>
          {% endif %}

          <br>

          <div class="row">
            <div class="col-1">
              <input type="checkbox" name="gdpr_consent" id="gdpr_consent" required>
            </div>
            <div class="col-11">
              <label for="gpdr_consent">
                {% url 'terms_and_conditions' as link_terms %}
                {% url 'privacy_policy' as link_privacy %}
                {% url 'cookies_policy' as link_cookies %}
                {% blocktrans %}
                  By checking this box, you confirm beeing informed about our <a href="{{ link_terms }}">Terms and conditions</a>, our <a href="{{ link_privacy }}">Privacy policy</a> and our <a href="{{ link_cookies }}">Cookies policy</a>. Checking this box also means you agrees with the terms describted in it.
                {% endblocktrans %}
              </label>
            </div>
          </div>

          <br>

          <input type="submit" value="{% trans 'Sign up' %}" class="btn btn-block btn-lg btn-dark h5 text-uppercase">
        </form>
      </div>

      <hr>

      <br>

      {% trans 'Already registered ?' %}
      <a href="{% url 'login' %}" class="btn btn-block btn-outline-dark text-uppercase">
        {% trans 'Sign in' %} {% include 'logo/in-left.html' %}
      </a>

      <br>

    </div>
  </section>


Your password can’t be too similar to your other personal information.
Your password must contain at least 8 characters.
Your password can’t be a commonly used password.
Your password can’t be entirely numeric.

{% endblock content %}
