{% extends 'base.html' %}
{% load i18n registration_extra static %}

{% block title %}{% trans 'Degrees by category' %}{% endblock title %}

{% block content %}

  {# Guest warning bubble #}

  {% include 'registered_user_warning.html' %}


  {# Heading jumbotron #}

  {% include 'management/degree/degreecategory_listview_jumbotron.html' %}


  {# Statistical informations #}

  <section class="container">
    <div class="row text-muted">
      <div class="col-sm">
        {% blocktrans count nb_categories=categories.count %}
          There is actually only one degree's category available.
        {% plural %}
          They are actually {{ nb_categories }} degree's categories available.
        {% endblocktrans %}
      </div>
    </div>
  </section>


  {# Create new module button #}

  <div class="row">
    {% if request.user|is_manager_or_administrator %}
      <div class="col">
        <a href="{% url 'degreecategory_createview' %}" class="btn btn-block btn-warning">
          Create a new degree category {% include 'logo/new.html' %}
        </a>
      </div>
    {% endif %}
    <div class="col">
      <a href="{% url 'degree_listview' %}" class="btn btn-block btn-dark">
        Consult the degrees catalog {% include 'logo/degree.html' %}
      </a>
    </div>
  </div>

  <br>

  {# Category card #}

  {% for category in categories %}
    {% with degreecategory_actions_enabled=True %}
      {% include 'management/degree/degreecategory_card.html' %}
    {% endwith %}

    <br>

  {% endfor %}

{% endblock content %}
