{% load i18n registration_extra %}


<section class="container p-1 p-md-3 rounded border bg-light">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col-lg-6 text-center">
      <img src="{{ degree.picture.url }}" alt="{{ degree.title }}" class="img-fluid" style="max-width: 400px; max-height: 300px;"/>
    </div>
    <div class="col-lg-6 text-center">
      <h1>{% include 'logo/degree.html' %}</h1>
      <h2>{{ degree.title }}</h2>
      <div class="row">
        <div class="col">{{ degree.reference }}</div>
        <div class="col"><a href="{% url 'degreecategory_detailview' pk=degree.category.pk %}" class="text-reset">{% include 'logo/degree_alt.html' %} {{ degree.category.name }}</a></div>
      </div>
      <hr>
      <div class="row h3">
        <div class="col">ECTS: <strong>{{ degree.total_ECTS_value }}</strong></div>
        <div class="col">€ <strong>{{ degree.total_price }}</strong></div>
      </div>
    </div>
  </div>

  {% if degree_actions_enabled %}
    <hr>

    {% include 'management/degree/actions.html' %}
  {% endif %}

  {% if show_description %}
    <hr>

    <h3 class="text-center">Description</h3>
    <p class="text-justify">
      {{ degree.description|linebreaks }}
    </p>
  {% endif %}

  <hr>

  <h3 class="text-center">{% include 'logo/module.html' %} Modules</h3>

  {% with module_list_queryset=degree.modules.all %}
    {% include 'management/module/related_modules_list.html' %}
  {% endwith %}
</section>
