{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'DegreeCategoryListView' %}{% endblock title %}

{% block content %}
    <h1>DegreeCategoryListView</h1>

    {% for category in categories %}
        <div>
            <a href="{{ category.get_absolute_url }}">
                <h2>{{ category.name }}</h2>
            </a>
        </div>

        <div>
            <h4>Degrees from this category: ({{ category.degrees.count }})</h4>
            <ul>
                {% for degree in category.degrees.all %}
                <li>{{ degree.title }}</li>
                {% endfor %}
            </ul>
        </div>

        <h5><a href="{% url 'degreecategory_updateview' pk=category.pk %}">degreecategory_updateview</a></h5>
        <h5><a href="{% url 'degreecategory_deleteview' pk=category.pk %}">degreecategory_deleteview</a></h5>
    {% endfor %}
{% endblock content %}
