{% extends 'base.html' %}
{% load i18n registration_extra static %}

{% block title %}{{ degree.title }} | {{ degree.reference }}{% endblock title %}

{% block content %}


  {# Heading jumbotron #}

  {% include 'management/degree/degree_detailview_jumbotron.html' %}


  {# Back to ListView button #}

  {% include 'management/degree/degree_back_to_catalog_button.html' %}

  <br>


  {# Presentation card #}

  {% with degree_actions_enabled=True show_description=False %}
    {% include 'management/degree/degree_card.html' %}
  {% endwith %}

  <br>


  {# Back to ListView button #}

  {% include 'management/degree/degree_back_to_catalog_button.html' %}

  <br>


  {# Ratings #}

  {% include 'rating_tag.html' %}
  <section class="container p-1 p-md-3 rounded border border-dark text-light bg-dark">
    <div class="row row-cols-1
    {% if ratings.count > 1 %}
      row-cols-lg-2
    {% endif %}">
      {% for rating in ratings %}
        {% include 'rating/rating_card.html' %}

      {% empty %}
        <div class="h3 text-center text-light">
          {% include 'logo/check_info.html' %} {% trans 'No student\'s rating left yet for this degree' %}
        </div>
      {% endfor %}
    </div>
  </section>
{% endblock content %}
