{% load i18n registration_extra %}


<div>
  {% if request.user|is_student and request.user|succeeded_degree_rr_already_exists:degree %}
      <span class="text-success">
        {% include 'logo/check_valid.html' %} {% trans 'Degree completed' %}
      </span>

  {% elif request.user|is_student and request.user|active_degree_rr_already_exists:degree %}
    <span class="text-warning">
      {% include 'logo/check_invalid.html' %} {% trans 'Ongoing degree' %}
    </span>

  {% else %}
    <span class="text-info">
      {% include 'logo/check_info.html' %}
      {% blocktrans count nb_modules=degree.modules.all.count %}
        This degree is composed of only one module.
      {% plural %}
        This degree is composed of {{ nb_modules }} modules.
      {% endblocktrans %}
    </span>
  {% endif %}
</div>
