{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'DegreeCategoryCreateView' %}{% endblock title %}

{% block content %}
  <section class="container">
    {% include 'backoffice_tag.html' %}
    <div class="container p-3 rounded border border-warning">
      <h1 class="text-center">
        {% trans 'Delete the degree category' %}: {% include 'logo/degree_alt.html' %} {{ category.name }} {% include 'logo/delete.html' %}
      </h1>

      <form method="POST">
        {% csrf_token %}

        {% include 'bubbles/danger/confirm_deletation.html' %}

        <div class="row row-cols-1 row-cols-md-2">
          <div class="col mb-2 mb-md-0">
            <input type="submit" class="btn btn-block btn-lg btn-danger text-uppercase" value="{% trans 'Confirm deletation' %}">
          </div>

          <div class="col">
            <a href="{{ category.get_absolute_url }}" class="btn btn-block btn-lg btn-outline-dark">
              {% trans 'Cancel and back to degree category page' %} {% include 'logo/back.html' %}
            </a>
          </div>
        </div>
      </form>
    </div>

    <br>

    {# Presentation card #}

    {% with degreecategory_actions_enabled=False %}
      {% include 'management/degree/degreecategory_card.html' %}
    {% endwith %}

  </section>
{% endblock content %}
