{% load i18n registration_extra %}


{% if request.user|is_manager_or_administrator %}
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-2 mb-md-0">
      <a href="{% url 'classroom_updateview' pk=classroom.pk %}" class="btn btn-block btn-warning">{% trans 'Update' %} {% include 'logo/edit.html' %}</a>
    </div>
    <div class="col">
      <a href="{% url 'classroom_deleteview' pk=classroom.pk %}" class="btn btn-block btn-danger">{% trans 'Delete' %} {% include 'logo/delete.html' %}</a>
    </div>
  </div>

{% elif request.user|is_teacher %}
  <a href="404" class="btn btn-block btn-info">{% trans 'DEBUG: No functionality yet for Teachers' %} {% include 'logo/warning.html' %}</a>  <!-- TODO: add functionality -->
{% endif %}
