{% extends 'base.html' %}
{% load i18n registration_extra %}


{% block title %}{% trans 'All our classroom' %}{% endblock title %}


{% block content %}
  {# Heading jumbotron #}

  {% include 'management/room/classroom_listview_jumbotron.html' %}


  {# Create new classroom button #}

  <div class="row">
    {% if request.user|is_manager_or_administrator %}
      <div class="col">
        <a href="{% url 'classroom_createview' %}" class="btn btn-block btn-warning">
          Register a new classroom {% include 'logo/room.html' %} {% include 'logo/new.html' %}
        </a>
      </div>
    {% endif %}
  </div>

  <br>


  {# Search #}

  {% include 'management/room/classroom_listview_search.html' %}

  <br>


  {# Paginator #}

  {% include 'pagination_main.html' %}


  {# Classroom cards #}

  <section class="container">
    <div class="row row-cols-1">
      {% for classroom in classrooms %}
      <div class="card my-3">
        <div class="card-body">
          <div class="row">
            <div class="col-md-4 text-center">
              <img src="{{ classroom.picture.url }}" class="img-fluid" alt="{{ classroom.name }} classroom picture" style="max-height: 200px;">
            </div>
              <div class="col-md-8">
                <div class="card-body">
                  <h5 class="card-title">
                    <a href="{{ classroom.get_absolute_url }}" class="text-reset">{% include 'logo/room.html' %} {{ classroom.name }}</a>
                  </h5>
                  <p class="card-text">
                    <small class="text-muted">{{ classroom.reference }}</small>
                  </p>
                  <p class="card-text">
                    {{ classroom.description|linebreaks|truncatechars:256 }}
                  </p>
                </div>
              </div>
            </div>
          </div>

          <div class="card-footer text-center">
            <div class="row row-cols-1 {% if not request.user|is_student %}row-cols-md-2{% endif %} my-2 my-md-0">
              <div class="col mb-2 mb-md-0">
                <a href="{{ classroom.get_absolute_url }}" class="btn btn-block btn-outline-dark">{% trans 'See more' %} {% include 'logo/more.html' %}</a>
              </div>
              {% if request.user|is_manager_or_administrator %}
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <a href="{% url 'classroom_updateview' pk=classroom.pk %}" class="btn btn-block btn-warning">{% trans 'Update' %} {% include 'logo/edit.html' %}</a>
                    </div>
                    <div class="col">
                      <a href="{% url 'classroom_deleteview' pk=classroom.pk %}" class="btn btn-block btn-danger">{% trans 'Delete' %} {% include 'logo/delete.html' %}</a>
                    </div>
                  </div>
                </div>

              {% elif request.user|is_teacher %}
                <div class="col">
                  <a href="#" class="btn btn-block btn-info">{% trans 'DEBUG: No functionality yet for Teachers' %} {% include 'logo/warning.html' %}</a>  <!-- TODO: add functionality -->
                </div>

              {% elif request.user|is_guest %}
                <div class="col">
                  <a href="{% url 'pursue_registration' %}" class="btn btn-block btn-dark">{% trans 'Finish your registration as a student' %} {% include 'logo/register_alt.html' %}</a>
                </div>

              {% elif not user.authenticated %}
                <div class="col">
                  <div class="row">
                    <div class="col">
                      <a href="{% url 'register' %}" class="btn btn-block btn-dark">{% trans 'Sign up' %} {% include 'logo/register.html' %}</a>
                    </div>
                    <div class="col">
                      <a href="{% url 'login' %}" class="btn btn-block btn-outline-dark">{% trans 'Sign in' %} {% include 'logo/in-left.html' %}</a>
                    </div>
                  </div>
                </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </section>

  <br>


  {# Paginator #}

  {% include 'pagination_main.html' %}
{% endblock content %}
