{% extends 'base.html' %}
{% load i18n registration_extra %}


{% block title %}{{ classroom.name }} | {{ classroom.reference }}{% endblock title %}


{% block content %}
  {# Heading jumbotron #}

  {% include 'management/room/classroom_detailview_jumbotron.html' %}


  {# Back to ListView button #}

  {% include 'management/room/back_to_room_list_button.html' %}

  <br>

  {% with room_actions_enabled=True show_description=False %}
    {% include 'management/room/classroom_card.html' %}
  {% endwith %}

  <br>


  {# Back to ListView button #}

  {% include 'management/room/back_to_room_list_button.html' %}
{% endblock content %}
