{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'Register a new classroom' %}{% endblock title %}

{% block content %}
  <section class="container">
    {% include 'backoffice_tag.html' %}
    <div class="container p-3 border border-warning">
      <h1 class="text-center">
        {% trans 'Register a new classroom' %} {% include 'logo/room.html' %} {% include 'logo/new.html' %}
      </h1>

      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}

        {# created_by (hidden) #}

        {{ form.created_by }}

        {# name #}

        <div class="form-group">
          <label for="{{ form.name.id_for_label }}" class="h5 text-uppercase">
            {{ form.name.label }} <span class="badge badge-danger">{{ form.name.errors.as_text }}</span>
          </label>
          <input id="{{ form.name.auto_id }}" name="{{ form.name.html_name }}" type="text" class="form-control form-control-lg" required>
          <small class="text-muted">{{ form.name.help_text }}</small>
        </div>

        <div class="row row-cols-1 row-cols-md-2">
          {# recommended_capacity #}

          <div class="col-md-6">
            <div class="form-group">
              <label for="{{ form.recommended_capacity.id_for_label }}" class="h5 text-uppercase">
                {{ form.recommended_capacity.label }} <span class="badge badge-danger">{{ form.recommended_capacity.errors.as_text }}</span>
              </label>
              <input id="{{ form.recommended_capacity.auto_id }}" name="{{ form.recommended_capacity.html_name }}" type="number" min="0" class="form-control form-control-lg" required>
              <small class="text-muted">{{ form.recommended_capacity.help_text }}</small>
            </div>
          </div>

          {# max_capacity #}

          <div class="col-md-6">
            <div class="form-group">
              <label for="{{ form.max_capacity.id_for_label }}" class="h5 text-uppercase">
                {{ form.max_capacity.label }} <span class="badge badge-danger">{{ form.max_capacity.errors.as_text }}</span>
              </label>
              <input id="{{ form.max_capacity.auto_id }}" name="{{ form.max_capacity.html_name }}" type="number" min="0" class="form-control form-control-lg" required>
              <small class="text-muted">{{ form.max_capacity.help_text }}</small>
            </div>
          </div>
        </div>

        {# picture #}

        <div class="form-group">
          <label class="h5 text-uppercase" for="{{ form.picture.id_for_label }}">
            {{ form.picture.label }} <small class="text-danger">{{ form.picture.errors.as_text }}</small>
          </label>
          <div class="custom-file">
            <input id="{{ form.picture.auto_id }}" name="{{ form.picture.html_name }}" class="custom-file-input form-control form-control-lg" type="file">
            <label id="{{ form.picture.auto_id }}_label" class="custom-file-label h5 text-uppercase" for="{{ form.picture.id_for_label }}">
              No picture selected
            </label>
            <small class="badge badge-warning">{% trans 'Supported formats' %}: GIF, JPEG, PNG or WEBP</small> <small class="text-muted">{{ form.picture.help_text }}</small>
          </div>
        </div>

        {# description #}

        <div class="form-group">
          <label for="{{ form.description.id_for_label }}" class="h5 text-uppercase">
            {{ form.description.label }} <span class="badge badge-danger">{{ form.description.errors.as_text }}</span>
          </label>
          <textarea id="{{ form.description.auto_id }}" name="{{ form.description.html_name }}" class="form-control form-control-lg" required></textarea>
          <small class="text-muted">{{ form.description.help_text }}</small>
        </div>

        {# submit #}

        <div class="row row-cols-1 row-cols-md-2">
          <div class="col mb-2 mb-md-0">
            <input type="submit" class="btn btn-block btn-lg btn-warning text-uppercase" value="{% trans 'Register new classroom' %}">
          </div>

          <div class="col">
            <a href="{% url 'classroom_listview' %}" class="btn btn-block btn-lg btn-outline-dark">
              {% trans 'Cancel and back to classroom list' %} {% include 'logo/back.html' %}
            </a>
          </div>
        </div>
      </form>
    </div>
  </section>
{% endblock content %}


{% block scripts %}
<script>
  $('#{{ form.picture.auto_id }}').on('change',function(){
    var fileName = $(this).val();
    $(this).next('#{{ form.picture.auto_id }}_label').html(fileName);
  })
  </script>
{% endblock scripts %}
