{% load i18n registration_extra %}


{% if request.user|is_manager_or_administrator %}
  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-2 mb-md-0">
      <a href="{% url 'course_updateview' pk=course.pk %}" class="btn btn-block btn-warning">{% trans 'Update' %} {% include 'logo/edit.html' %}</a>
    </div>
    <div class="col">
      <a href="{% url 'course_deleteview' pk=course.pk %}" class="btn btn-block btn-danger">{% trans 'Delete' %} {% include 'logo/delete.html' %}</a>
    </div>
  </div>

{% elif request.user|is_teacher %}
  <a href="{% url 'teacher_course_listview' %}" class="btn btn-block btn-warning">
     {% include 'logo/course_alt.html' %} {% trans 'My courses' %}
  </a>

{% elif request.user|is_student %}
  {% if request.user|active_module_rr_already_exists:course.module %}
    {% include 'bubbles/warning/active_module_rr_already_exists.html' %}

    <a href="{% url 'module_rr_createview' module_pk=course.module.pk %}" class="btn btn-block btn-warning disabled">{% trans 'You cannot subscribe to this module yet again' %} {% include 'logo/puzzle.html' %}</a>

  {% else %}
    <a href="{% url 'module_rr_createview' module_pk=course.module.pk %}" class="btn btn-block btn-success">{% trans 'Subscribe to this module' %} {% include 'logo/puzzle.html' %}</a>
  {% endif %}

{% elif request.user|is_guest %}
  {% include 'bubbles/warning/still_registered_guest_not_student.html' %}

  <a href="{% url 'pursue_registration' %}" class="btn btn-block btn-dark">{% trans 'Complete your registration' %} {% include 'logo/register_alt.html' %}</a>

{% else %}
  {% include 'bubbles/warning/unregistered.html' %}

  <div class="row row-cols-1 row-cols-md-2">
    <div class="col mb-2 mb-md-0">
      <a href="{% url 'register' %}" class="btn btn-block btn-dark">{% trans 'Sign up' %} {% include 'logo/register.html' %}</a>
    </div>
    <div class="col">
      <a href="{% url 'login' %}" class="btn btn-block btn-outline-dark">{% trans 'Sign in' %} {% include 'logo/in-left.html' %}</a>
    </div>
  </div>
{% endif %}
