{% load i18n registration_extra %}


<section class="container p-1 p-md-3 border rounded bg-light">
  <div class="row row-cols-1 row-cols-lg-2">
    <div class="col-lg-6 text-center">

      {# Course picture #}

      <img src="{{ course.module.picture.url }}" alt="{{ course.reference }}" class="img-fluid" style="max-width: 400px; max-height: 300px;"/>


      {# Attendance #}

      {% if request.user|is_back_office_user %}
        <hr>

        {% include 'backoffice_tag.html' %}
        <div class="rounded border border-warning h5">
          <table class="table table-sm table-responsive-md table-striped table-hover">
            <tr class="d-flex">
              <td class="col-9 text-uppercase text-left">
                {% trans 'Registrants' %}
              </td>
              <td class="col-3 h4 text-light text-center bg-dark">
                {{ course.nb_registrants }}
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-9 text-uppercase text-left">
                {% trans 'Prebooked seats' %}
              </td>
              <td class="col-3 h4 text-light text-center bg-dark">
                {{ course.prebooked_seats }}
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-9 text-uppercase text-left">
                {% trans 'Available/total seats before over attendance' %}
              </td>
              <td class="col-3 h4 text-light text-center bg-dark">
                {{ course.recommended_seats_available }}/{{ course.room.recommended_capacity }}
              </td>
            </tr>
            <tr class="d-flex">
              <td class="col-9 text-uppercase text-left">
                {% trans 'Available/total seats' %}
              </td>
              <td class="col-3 h4 text-light text-center bg-dark">
                {{ course.max_seats_available }}/{{ course.room.max_capacity }}
              </td>
            </tr>
          </table>
        </div>
      {% endif %}
    </div>

    <div class="col-lg-6 text-center">
      <h1>{% include 'logo/course.html' %}</h1>
      <h2>{{ course.reference }}</h2>
      <div class="row">
        <div class="col">
          {% trans 'Starts on' %}:<br><span class="h3 font-weight-bold">{{ course.date_start }}</span>
        </div>
        <div class="col">
          {% trans 'Ends on' %}:<br><span class="h3 font-weight-bold">{{ course.date_end }}</span>
        </div>
      </div>

      <hr>

      <div class="row h4">

        {# Status #}

        <div class="col">
          {% include 'management/course/course_status.html' %}
        </div>


        {# Attendance availibility #}

        {% if course.status != "FINISHED" %}
          <div class="col">
            {% if request.user|is_back_office_user %}
              {% if course.max_seats_available == 0 %}
                <span class="font-weight-bold text-danger">{% include 'logo/check_invalid.html' %} {% trans 'Full attendance' %}</span>

              {% elif course.over_attendance %}
                <span class="font-weight-bold text-warning">{% include 'logo/check_warning.html' %} {% trans 'Over attendance' %}</span>

              {% else %}
                <span class="text-success">{% include 'logo/check_valid.html' %} {% trans 'Acceptable attendance' %}</span>
              {% endif %}

            {% elif course.max_seats_available == 0 %}
              <span class="font-weight-bold text-danger">{% include 'logo/check_invalid.html' %} {% trans 'No seats available' %}</span>

            {% elif course.over_attendance %}
              <span class="text-warning">{% include 'logo/check_warning.html' %} {% trans 'Few seats left' %}</span>

            {% else %}
              <span class="text-success">{% include 'logo/check_valid.html' %} {% trans 'Seats available' %}</span>
            {% endif %}
          </div>
        {% endif %}
      </div>

      <hr>

      <p>
        {% trans 'Module teached in this course' %}:
      </p>
      <ul class="list-unstyled">
        <li class="h5">
          <a href="{{ course.module.get_absolute_url }}" class="text-reset">
            {% include 'logo/module.html' %} {{ course.module.title }} <small class="text-muted">{{ course.module.category.name }}</small>
          </a>
        </li>
      </ul>
      <hr>

      <p>
        {% trans 'Teacher of this course' %}:
      </p>
      <ul class="list-unstyled">
        <li class="h5">
          {{ course.teacher.get_full_name }} <a href="mailto:{{ course.teacher.email }}" class="badge badge-secondary">{% trans 'Contact by mail' %} {% include 'logo/mail.html' %}</a>
        </li>
      </ul>
      <hr>

      <p>
        {% trans 'Classroom assigned to this course' %}:
      </p>
      <ul class="list-unstyled">
        <li class="h5">
          <a href="{{ course.room.get_absolute_url }}" class="text-reset">
            {% include 'logo/room.html' %} {{ course.room.name }} <small class="text-muted">{{ course.room.reference }}</small>
          </a>
        </li>
      </ul>
    </div>
  </div>

  {% if actions_enabled %}
    <hr>
    {% include 'management/course/actions.html' %}
  {% endif %}
</section>
