{% load i18n registration_extra %}


<div>
  {% if course.status == "FINISHED" %}
    <span class="font-weight-bold text-danger">{% include 'logo/check_invalid.html' %} {% trans 'Course already finished' %}</span>

  {% elif course.status == "ONGOING" %}
    <span class="font-weight-bold text-warning">{% include 'logo/check_warning.html' %} {% trans 'Already started' %}</span>

  {% else %}
    <span class="text-success">{% include 'logo/check_valid.html' %} {% trans 'Starting soon' %}</span>
  {% endif %}
</div>
