{% extends 'base.html' %}
{% load i18n %}

{% block title %}{% trans 'StudentRatingDeleteView' %}{% endblock title %}

{% block content %}
    <h1>StudentRatingDeleteView</h1>
    <form method="post">
        {% csrf_token %}
        <p>Are you sure you want to delete "{{ module.title }}"?</p>
        <input type="submit" value="Confirm">
    </form>

    <p>Created by: {{ rating.created_by.get_full_name }}</p>
    <p>Module: {{ rating.module.title }}</p>
    <p>Rate: {{ rating.rate }}/5</p>
    <p>Comment: {{ rating.comment }}</p>
{% endblock content %}
