{% extends 'base.html' %}
{% load i18n %}


{% block title %}
  {% trans 'Update your rating for ' %}
  {% if module %}
    {% trans 'module' %}: {% include 'logo/module.html' %} {{ module.title }}

  {% elif degree %}
    {% trans 'degree' %}: {% include 'logo/degree.html' %} {{ degree.title }}
  {% endif %}
{% endblock title %}


{% block content %}
  {% include 'rating_tag.html' %}
  <section class="container p-1 p-md-3 rounded border border-dark text-light bg-dark">
    <h1 class="text-center">
      {% trans 'Update your rating for ' %}
      {% if module %}
        {% trans 'module' %}: {% include 'logo/module.html' %} {{ module.title }}

      {% elif degree %}
        {% trans 'degree' %}: {% include 'logo/degree.html' %} {{ degree.title }}
      {% endif %}
    </h1>

    <form method="POST">
      {% csrf_token %}

      {# created_by (hidden) #}

      {{ form.created_by }}


      {# module (hidden) #}

      {{ form.module }}


      {# degree (hidden) #}

      {{ form.degree }}


      {# rate #}

      <div class="form-group">
        <label for="{{ form.rate.id_for_label }}" class="h5 text-uppercase">
          {{ form.rate.label }}
          <span class="badge badge-danger">{{ form.rate.errors.as_text }}</span>
        </label>
        <input id="{{ form.rate.auto_id }}" name="{{ form.rate.html_name }}" type="number" min="1" max="5" class="form-control form-control-lg" value="{{ rating.rate }}" required>
        <small>
          {{ form.rate.help_text }}
        </small>
      </div>


      {# comment #}

      <div class="form-group">
        <label for="{{ form.comment.id_for_label }}" class="h5 text-uppercase">
          {{ form.comment.label }}
          <span class="badge badge-danger">{{ form.comment.errors.as_text }}</span>
        </label>
        <textarea id="{{ form.comment.auto_id }}" name="{{ form.comment.html_name }}" class="form-control form-control-lg" required>{{ rating.comment }}</textarea>
        <small class="badge badge-warning">
          {% trans '512 characters allowed' %}
        </small>
        <small>
          {{ form.comment.help_text }}
        </small>
      </div>


      {# submit #}

      <div class="row row-cols-1 row-cols-md-2">
        <div class="col mb-2 mb-md-0">
          <input type="submit" class="btn btn-block btn-lg btn-light text-uppercase" value="{% trans 'Update your rating' %}">
        </div>

        <div class="col">
          <a href="
          {% if module %}
            {% url 'module_detailview' pk=module.pk %}
          {% elif degree %}
            {% url 'degree_detailview' pk=degree.pk %}
          {% endif %}
          " class="btn btn-block btn-lg btn-outline-light">
            {% trans 'Cancel and go back' %} {% include 'logo/back.html' %}
          </a>
        </div>
      </div>
    </form>
  </section>

  <br>


  {# Rating card #}

  <section class="container">
    {% include 'rating/rating_card.html' %}
  </section>
{% endblock content %}
