{% extends 'base.html' %}
{% load i18n %}


{% block title %}
  {% trans 'Ratings Admin Panel' %}
{% endblock title %}


{% block content %}
  {# Back office tag #}

  {% include 'backoffice_tag.html' %}
  <section class="container p-1 p-md-3 rounded border border-warning">

    {# Filters #}

    {% include 'rating/rating_listview_search.html' %}

    <br>


    <div class="text-center h1">
      {% trans 'Student ratings' %} {% include 'logo/rating.html' %}
    </div>

    <br>

    <div class="row row-cols-1">
      {% with on_homeview=True %}
        {% for rating in ratings %}
          {% include 'rating/rating_card.html' %}

        {% empty %}
          <div class="h3 text-center text-light">
            {% include 'logo/check_info.html' %} {% trans 'No student\'s rating left yet' %}
          </div>
        {% endfor %}
      {% endwith %}
    </div>
  </section>
{% endblock content %}
