{% load i18n registration_extra %}


{% if is_self_user %}
<div class="row row-cols-1 row-cols-2">
  <div class="col">
    <a href="{% url 'userprofile_updateview' pk=user.pk %}" class="btn btn-block btn-outline-dark">
      {% trans 'Update your profile' %} {% include 'logo/edit.html' %}
    </a>
  </div>
  <div class="col">
    <a href="{% url 'password_change' %}" class="btn btn-block btn-outline-dark">
      {% trans 'Change your password' %} {% include 'logo/lock.html' %}
    </a>
  </div>
</div>

{% else %}
<div class="row row-cols-1 row-cols-2">
  <div class="col">
    <a href="{% url 'backoffice_user_activation' user_pk=userprofile.pk %}" class="btn btn-block btn-{% if userprofile.is_active %}danger{% else %}success{% endif %}">
      {% if userprofile.is_active %}
        {% trans 'Deactivate user account' %} {% include 'logo/ban.html' %}

      {% else %}
        {% trans 'Activate user account' %} {% include 'logo/unban.html' %}
      {% endif %}
    </a>
  </div>
  <div class="col">
    <a href="{% url 'backoffice_user_admin_panel' %}" class="btn btn-block btn-outline-warning">
      {% trans 'Back to the User Admin Panel' %} {% include 'logo/back.html' %}
    </a>
  </div>
</div>
{% endif %}
