{% load i18n registration_extra %}


{% if student_rr.has_been_student %}
  <section class="container p-1 p-md-3 border rounded text-center">


    {# Presentation header #}

    <div class="text-center">
      <span class="h2">
        {% include 'logo/degree_rr.html' %} {% trans 'Degrees Registration Reports' %}
      </span>

      <span class="h5 text-center text-muted text-uppercase">
        {{ userprofile.get_full_name }}
      </span>
    </div>

    <br>


    {# Module Registration Reports table #}

    {% with listview_enabled=False %}
      {% include 'registration/registration_report/degrees_rrs_table.html' %}
    {% endwith %}

    {% if request.user|is_manager_or_administrator %}
      <a href="{% url 'degree_rr_listview' %}" class="btn btn-block btn-outline-warning">
        {% trans 'Back to all degree registrations lists' %} {% include 'logo/back.html' %}
      </a>
    {% endif %}
  </section>
{% endif %}
