{% load i18n %}


{% if student_rr.has_been_student %}
  <section class="container p-1 p-md-3 border rounded text-center">

    {# Presentation header #}

    <div class="text-center">
      <span class="h2">
        {% include 'logo/module_rr.html' %} {% trans 'Modules Registration Reports' %}
      </span>

      <span class="h5 text-center text-muted text-uppercase">
        {{ user.get_full_name }}
      </span>
    </div>

    <br>


    <table class="table table-striped table-hover h5 text-left">
      <thead class="thead-dark">
        <tr>
          <th class="col-6">
            {% include 'logo/module.html' %} {% trans 'Module' %}
          </th>
          <th>
            {% include 'logo/degree.html' %} {% trans 'Degree' %} ?
          </th>
          <th>
            {% include 'logo/course.html' %} {% trans 'Course' %} ?
          </th>
          <th>
            {% trans 'Status' %}
          </th>
          <th>
            {% include 'logo/score.html' %} {% trans 'Score' %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for module_rr in modules_rrs %}
          <tr>
            <td class="col-6">
              <a href="{{ module_rr.module.get_absolute_url }}" class="text-reset">{{ module_rr.module.title }} <small class="text-muted">{{ module_rr.module.reference }}</small></a>
            </td>
            <td>
              {% if module_rr.degree_rr %}
                <a href="{{ module_rr.degree_rr.get_absolute_url }}" class="text-success">
                  {% include 'logo/check_valid.html' %} {% trans 'Yes' %}
                </a>
              {% else %}
                <span class="text-danger">
                  {% include 'logo/check_invalid.html' %} {% trans 'No' %}
                </span>
              {% endif %}
            </td>
            <td>
              {% if module_rr.course %}
                <a href="{{ module_rr.course.get_absolute_url }}" class="text-success">
                  {% include 'logo/check_valid.html' %} {{ module_rr.course.reference }}
                </a>
              {% else %}
                <span class="text-danger">
                  {% include 'logo/check_invalid.html' %} {% trans 'No' %}
                </span>
              {% endif %}
            </td>
            <td>
              {{ module_rr.get_status_display }}
            </td>
            <td>
              {% if module_rr.final_score %}
                <span class="font-weight-bold text-{% if module_rr.succeeded %}success{% else %}danger{% endif %}">{{ module_rr.final_score }}</span>
              {% else %}
                <span class="text-muted">{% trans 'N/A' %}</span>
              {% endif %}
            </td>
          </tr>
        {% empty %}
          <tr>
            <td colspan="5" class="h5 text-center text-info">
              {% include 'logo/check_info.html' %} {% trans 'No module registration found' %}
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </section>
{% endif %}
