{% extends 'base.html' %}
{% load i18n registration_extra %}


{% block title %}
  {% trans 'Users administation panel' %}
{% endblock title %}


{% block content %}
  {# Back-Office tag #}

  {% include 'backoffice_tag.html' %}
  <section class="container p-1 p-md-3 border border-warning rounded">

    <div class="h1 text-center">
      {% include 'logo/group.html' %} {% trans 'Users Administration Panel' %}
    </div>

    <table id="dtBasicExample" class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <th>
            {% include 'logo/person.html' %} {% trans 'Registration number' %}
          </th>
          <th>
            {% include 'logo/person.html' %} {% trans 'Full name' %}
          </th>
          <th>
            {% include 'logo/group.html' %} {% trans 'Group' %}
          </th>
          <th>
            {% include 'logo/mail.html' %} {% trans 'Contact mail' %}
          </th>
          <th>
            {% include 'logo/ban.html' %} {% trans '(De)activate' %}
          </th>
        </tr>
      </thead>
      <tbody>
        {% for one_user in all_users %}
          <tr class="
            {% if not one_user.is_active %}
              table-danger
            {% elif one_user|main_group == 'Guest' %}
              table-secondary
            {% elif one_user|main_group == 'Teacher' %}
              table-info
            {% elif one_user|is_manager_or_administrator %}
              table-warning
            {% endif %}
          ">
            <td>
              <a href="{% url 'userprofile_detailview' pk=one_user.pk %}" class="h5 text-reset">
                {{ one_user.username }}
              </a>
            </td>
            <td>
              <a href="{% url 'userprofile_detailview' pk=one_user.pk %}" class="text-reset">
                {{ one_user.get_full_name }}
              </a>
            </td>
            <td>
              {{ one_user|main_group }}
            </td>
            <td>
              <a href="mailto:{{ one_user.email }}" class="text-reset">
                {{ one_user.email }}
              </a>
            </td>
            <td>
              <a href="{% url 'backoffice_user_activation' user_pk=one_user.pk %}" class="btn btn-block btn-sm btn-{% if request.user == one_user or not request.user|is_administrator and one_user|is_manager_or_administrator %}warning disabled{% elif one_user.is_active %}danger{% else %}success{% endif %}">
                {% if request.user == one_user or not request.user|is_administrator and one_user|is_manager_or_administrator %}
                  {% trans 'Cannot be desactivated' %} {% include 'logo/check_invalid.html' %}

                {% elif one_user.is_active %}
                  {% trans 'Deactivate user account' %} {% include 'logo/ban.html' %}

                {% else %}
                  {% trans 'Activate user account' %} {% include 'logo/unban.html' %}
                {% endif %}
              </a>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>


  </section>

{% endblock content %}
