{% extends 'base.html' %}
{% load i18n registration_extra %}


{% block title %}
  {% trans 'Profile of' %} {{ userprofile.get_full_name }} | {{ userprofile.username }}
{% endblock title %}


{% block content %}
  {% if is_self_user %}
    {% include 'profile_tag.html' %}
  {% else %}
    {% include 'backoffice_tag.html' %}
  {% endif %}


  {# Back-Office tag #}

  {% if not is_self_user %}
    <section class="container p-1 p-md-3 border border-warning rounded">
  {% endif %}

  {# Profile information #}
  <section class="container p-1 p-md-3 border rounded text-center bg-light">
    {# Presentation header #}

    <div class="text-center">
      <span class="h2">
        {% include 'logo/profile.html' %} {{ userprofile.username }}
      </span>

      <span class="h5 text-center text-muted text-uppercase">
        {{ userprofile.get_full_name }}
      </span>
      {% if request.user|is_manager_or_administrator and not userprofile.is_active %}
        <br><br>

        {% include 'bubbles/danger/user_disabled.html' %}
      {% endif %}
    </div>

    <br>


    {# Profile actions #}

    {% include 'registration/userprofile/actions.html' %}

    <br>


    {# Information table #}

    <table class="table table-hover h5 text-left">
      <tr class="d-flex">
        <td class="col-4">{% trans 'Registration number' %}:</td>
        <th class="col-8">{{ userprofile.username }}</th>
      </tr>
      <tr class="d-flex">
        <td class="col-4">{% trans 'First name' %}:</td>
        <th class="col-8">{{ userprofile.first_name }}</th>
      </tr>
      <tr class="d-flex">
        <td class="col-4">{% trans 'Last name' %}:</td>
        <th class="col-8">{{ userprofile.last_name }}</th>
      </tr>
      <tr class="d-flex">
        <td class="col-4">{% trans 'Group' %}:</td>
        <th class="col-8">{{ main_group }}</th>
      </tr>
      <tr class="d-flex">
        <td class="col-4">{% trans 'Registration date' %}:</td>
        <th class="col-8">{{ userprofile.date_joined }}</th>
      </tr>
      <tr class="d-flex">
        <td class="col-4">{% trans 'Last login date' %}:</td>
        <th class="col-8">{{ userprofile.last_login }}</th>
      </tr>
      {% if request.user|is_student or request.user|is_manager_or_administrator and student_rr.created_by|is_student %}
        <tr class="d-flex">
          <td class="col-4">{% trans 'Birthday date' %}:</td>
          <th class="col-8">{{ student_rr.birthday }}</th>
        </tr>
        <tr class="d-flex">
          <td class="col-4">{% trans 'Nationality' %}:</td>
          <th class="col-8">{{ student_rr.nationality }}</th>
        </tr>
        <tr class="d-flex">
          <td class="col-4">{% trans 'Address' %}:</td>
          <th class="col-8">{{ student_rr.address }}</th>
        </tr>
        {% if student_rr.additional_address %}
          <tr class="d-flex">
            <td class="col-4">

            </td>
            <th class="col-8">
              {{ student_rr.additional_address }}
            </th>
          </tr>
        {% endif %}
          <tr class="d-flex">
            <td class="col-4">{% trans 'Location' %}:</td>
            <th class="col-8">{{ student_rr.postal_code }} {{ student_rr.postal_locality }}</th>
          </tr>
          <tr class="d-flex">
            <td class="col-4">{% trans 'ID picture' %}:</td>
            <th class="col-8">
              {% if student_rr.id_picture %}
                <span class="text-success">
                  {% include 'logo/check_valid.html' %} {% trans 'Uploaded' %}
                </span>
                <a href="{{ student_rr.id_picture.url }}" target="_blank" rel="noopener noreferrer" class="badge badge-dark text-uppecase">
                  {% trans 'Click here to see the picture sent' %} {% include 'logo/new_tab.html' %}
                </a>
              {% else %}
                <span class="text-danger">
                  {% include 'logo/check_ready.html' %} {% trans 'Missing' %}
                </span>
              {% endif %}
            </th>
          </tr>
          <tr class="d-flex">
            <td class="col-4">{% trans 'ID card scan' %}:</td>
            <th class="col-8">
              {% if student_rr.id_card %}
                <span class="text-success">
                  {% include 'logo/check_valid.html' %} {% trans 'Uploaded' %}
                </span>
                <a href="{{ student_rr.id_card.url }}" target="_blank" rel="noopener noreferrer" class="badge badge-dark text-uppecase">
                  {% trans 'Click here to see the file sent' %} {% include 'logo/new_tab.html' %}
                </a>
              {% else %}
                <span class="text-danger">
                  {% include 'logo/check_ready.html' %} {% trans 'Missing' %}
                </span>
              {% endif %}
            </th>
          </tr>
          <tr class="d-flex">
            <td class="col-4">{% trans 'Secondary Education Certificate' %}:</td>
            <th class="col-8">
              {% if student_rr.secondary_education_certificate %}
                <span class="text-success">
                  {% include 'logo/check_valid.html' %} {% trans 'Uploaded' %}
                </span>
                <a href="{{ student_rr.secondary_education_certificate.url }}" target="_blank" rel="noopener noreferrer" class="badge badge-dark text-uppecase">
                  {% trans 'Click here to see the file sent' %} {% include 'logo/new_tab.html' %}
                </a>
              {% else %}
                <span class="text-danger">
                  {% include 'logo/check_ready.html' %} {% trans 'Missing' %}
                </span>
              {% endif %}
            </th>
          </tr>

          {% if student_rr.student_is_foreigner %}
            <tr class="d-flex">
              <td class="col-4">{% trans 'Annex 403' %}:</td>
              <th class="col-8">
                {% if student_rr.annex_403 %}
                  <span class="text-success">
                    {% include 'logo/check_valid.html' %} {% trans 'Uploaded' %}
                  </span>
                  <a href="{{ student_rr.annex_403.url }}" target="_blank" rel="noopener noreferrer" class="badge badge-dark text-uppecase">
                    {% trans 'Click here to see the file sent' %} {% include 'logo/new_tab.html' %}
                  </a>
                {% else %}
                  <span class="text-danger">
                    {% include 'logo/check_invalid.html' %} {% trans 'Missing' %}
                  </span>
                {% endif %}
              </th>
            </tr>
            <tr class="d-flex">
              <td class="col-4">{% trans 'Other schools inscription certificate' %}:</td>
              <th class="col-8">
                {% if student_rr.other_school_inscription_certificate %}
                  <span class="text-success">
                    {% include 'logo/check_valid.html' %} {% trans 'Uploaded' %}
                  </span>
                  <a href="{{ student_rr.other_school_inscription_certificate.url }}" target="_blank" rel="noopener noreferrer" class="badge badge-dark text-uppecase">
                    {% trans 'Click here to see the file sent' %} {% include 'logo/new_tab.html' %}
                  </a>
                {% else %}
                  <span class="text-danger">
                    {% include 'logo/check_invalid.html' %} {% trans 'Missing' %}
                  </span>
                {% endif %}
              </th>
            </tr>
            <tr class="d-flex">
              <td class="col-4">{% trans 'National Register Extract' %}:</td>
              <th class="col-8">
                {% if student_rr.national_register_extract %}
                  <span class="text-success">
                    {% include 'logo/check_valid.html' %} {% trans 'Uploaded' %}
                  </span>
                  <a href="{{ student_rr.national_register_extract.url }}" target="_blank" rel="noopener noreferrer" class="badge badge-dark text-uppecase">
                    {% trans 'Click here to see the file sent' %} {% include 'logo/new_tab.html' %}
                  </a>
                {% else %}
                  <span class="text-danger">
                    {% include 'logo/check_invalid.html' %} {% trans 'Missing' %}
                  </span>
                {% endif %}
              </th>
            </tr>
            <tr class="d-flex">
              <td class="col-4">{% trans 'Belgian Studies History' %}:</td>
              <th class="col-8">
                {% if student_rr.belgian_studies_history %}
                  <span class="text-success">
                    {% include 'logo/check_valid.html' %} {% trans 'Uploaded' %}
                  </span>
                  <a href="{{ student_rr.belgian_studies_history.url }}" target="_blank" rel="noopener noreferrer" class="badge badge-dark text-uppecase">
                    {% trans 'Click here to see the file sent' %} {% include 'logo/new_tab.html' %}
                  </a>
                {% else %}
                  <span class="text-danger">
                    {% include 'logo/check_invalid.html' %} {% trans 'Missing' %}
                  </span>
                {% endif %}
              </th>
            </tr>
          {% endif %}
          <tr class="d-flex">
            <td colspan="2" class="col-12 bg-secondary rounded text-light text-center h4">{% trans 'Optional fields' %}</td>
          </tr>
          <tr class="d-flex">
            <td class="col-4">{% trans 'Modules archievement certificates' %}:</td>
            <th class="col-8">
              {% if student_rr.archievement_certificates %}
                <span class="text-success">
                  {% include 'logo/check_valid.html' %} {% trans 'Uploaded' %}
                </span>
                  <a href="{{ student_rr.archievement_certificates.url }}" target="_blank" rel="noopener noreferrer" class="badge badge-dark text-uppecase">
                    {% trans 'Click here to see the file sent' %} {% include 'logo/new_tab.html' %}
                  </a>
              {% else %}
                <span class="text-warning">
                  {% include 'logo/check_ready.html' %} {% trans 'Not sent' %}
                </span>
              {% endif %}
            </th>
          </tr>
          <tr class="d-flex">
            <td class="col-4">{% trans 'Job organizations certificates' %}:</td>
            <th class="col-8">
              {% if student_rr.job_organization_certificates %}
                <span class="text-success">
                  {% include 'logo/check_valid.html' %} {% trans 'Uploaded' %}
                </span>
                  <a href="{{ student_rr.job_organization_certificates.url }}" target="_blank" rel="noopener noreferrer" class="badge badge-dark text-uppecase">
                    {% trans 'Click here to see the file sent' %} {% include 'logo/new_tab.html' %}
                  </a>
              {% else %}
                <span class="text-warning">
                  {% include 'logo/check_ready.html' %} {% trans 'Not sent' %}
                </span>
              {% endif %}
            </th>
          </tr>
          <tr class="d-flex">
            <td class="col-4">{% trans 'Exemption reports' %}:</td>
            <th class="col-8">
              {% if student_rr.exemption_report %}
                <span class="text-success">
                  {% include 'logo/check_valid.html' %} {% trans 'Uploaded' %}
                </span>
                  <a href="{{ student_rr.exemption_report.url }}" target="_blank" rel="noopener noreferrer" class="badge badge-dark text-uppecase">
                    {% trans 'Click here to see the file sent' %} {% include 'logo/new_tab.html' %}
                  </a>
              {% else %}
                <span class="text-warning">
                  {% include 'logo/check_ready.html' %} {% trans 'Not sent' %}
                </span>
              {% endif %}
            </th>
          </tr>
      {% endif %}
    </table>

    <br>


    {# Profile actions #}

    {% include 'registration/userprofile/actions.html' %}
  </section>

  <br>


  {# Modules Registration Reports List #}

  {% include 'registration/userprofile/modules_rrs_list.html' %}

  {% if student_rr.has_been_student %}
    <br>
  {% endif %}


  {# Degrees Registration Reports List #}

  {% include 'registration/userprofile/degrees_rrs_list.html' %}

  {% if student_rr.has_been_student %}
    <br>
  {% endif %}


  {# Courses List #}

  {% include 'registration/userprofile/courses_list.html' %}

  {% if student_rr.has_been_student %}
    <br>
  {% endif %}


  {# Student Registration Report stats #}

  {% include 'registration/userprofile/student_statistics.html' %}


  {# Back-Office tag closure #}

  {% if not is_self_user %}
    </section>
  {% endif %}
{% endblock content %}
